.container {
  width: 60%;
  font-size: 12px;
  display: inline-block;
  max-height: 320px;
  overflow: scroll;
  padding-bottom: 20px;
}
.div-list {
  width: 18%;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: rgb(250, 250, 250);
  position: absolute;
  z-index: 1;
  height: 50px;
  overflow: auto;
}
th {
  background-color: rgba(255, 255, 255, 0.5);
  width: 10%;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  overflow-wrap: break-word;
}
table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 13px;
  table-layout: fixed;
}
tr {
  background-color: rgba(0, 0, 0, 0.233);
  border: 1px solid rgba(235, 231, 231, 0.651);
  text-align: center;
}
td {
  width: 20x;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px rgba(255, 255, 255, 0.5);
}
td:focus {
  border: none;
}
input {
  width: 100%;
  background: transparent;
  border: none;
}

.tdInput {
  clear: both;
  display: block;
  background-color: rgba(255, 0, 0, 0.1);
}

.middle {
  text-align: center;
  height: 25px;
  width: 80%;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}
.left {
  height: 25px;
  width: 10%;
  display: inline-block;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 2px #f25454 solid;
}
ion-icon {
  margin-top: 5px;
}
.header {
  height: 25px;
  width: 80%;
  display: inline-block;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  padding-bottom: 10px;
}
