<ion-content class="content">
  <app-loading></app-loading>
  <app-sidebar
    (onClose)="showSideBar = false"
    *ngIf="showSideBar"
  ></app-sidebar>
  <div
    class="header"
    (swiperight)="onShowSideBar()"
    (swipeleft)="onHideSideBar()"
  >
    <app-header></app-header>
    <app-nav></app-nav>
    <div style="height: 15px;"></div>
  </div>
  <div
    class="content"
    (swipedown)="onSwipeDown()"
    (swipeleft)="onSwipeLeft()"
    (swiperight)="onSwipeRight()"
  >
    <router-outlet></router-outlet>
  </div>
  <div></div>
</ion-content>
