<div class="container">
  <app-dialog (OnCtn)="onCtnAlert()" (Cancel)="onHideAlert()" *ngIf="showAlert">
    {{ errorMsg }}
  </app-dialog>
  <form
    (ngSubmit)="
      isUpdate == 1
        ? OnUpdateLivraisonDesignation()
        : OnAddLivraisonDesignation()
    "
    #f="ngForm"
  >
    <table>
      <tr class="header">
        <th style="width: 30%">
          <input
            (input)="filter()"
            type="text"
            placeholder="DESIGNATION"
            ngModel
            name="designation$"
            style="width: 60%"
          />
          <ion-icon
            [ngStyle]="{
              color: typeIsFocus('designation')
                ? 'black'
                : 'rgba(61, 61, 61, 0.815)'
            }"
            [name]="
              typeAsc('designation') == true
                ? 'arrow-round-down'
                : 'arrow-round-up'
            "
            (click)="onSort('designation')"
          ></ion-icon>
        </th>
        <th style="width: 9%">
          UNITÉ
        </th>
        <th style="width: 9%">
          QUANTIÉ
        </th>
        <th style="width: 16%">
          <input
            (input)="filter()"
            type="text"
            ngModel
            placeholder="DESTINATION"
            name="destinationNom$"
            style="width: 80%"
          />
          <ion-icon
            [ngStyle]="{
              color: typeIsFocus('destinationNom')
                ? 'black'
                : 'rgba(61, 61, 61, 0.815)'
            }"
            [name]="
              typeAsc('destinationNom') == true
                ? 'arrow-round-down'
                : 'arrow-round-up'
            "
            (click)="onSort('destinationNom')"
          ></ion-icon>
        </th>
        <th style="width: 31%">
          OBSERVATION
        </th>
        <th style="width: 5%">
          <ion-icon name="reverse-camera"></ion-icon>
        </th>
      </tr>
      <!--**********************************************-->
      <tr
        [attachOutsideOnClick]="true"
        (clickOutside)="onAddClickOutside()"
        (click)="onAddClick()"
      >
        <td class="tdInput" style="width: 30%">
          <input
            placeholder="DESIGNATION"
            type="text"
            (input)="OnSearchArticle(artSrchInput)"
            (focus)="onFocusArtInputSearch(artAddList)"
            (blur)="onBlurArtInputSearch(artAddList)"
            name="designation"
            ngModel
            #artSrchInput
          />
          <div hidden #artAddList style="width: 45.7%" class="div-list">
            <div
              *ngFor="let item of stockDispo"
              (click)="onSelectArticleAdd(item)"
            >
              <span class="border-case-black" style="width: 62%">{{
                item.designation
              }}</span>
              <span class="border-case-black" style="width: 19%">{{
                item.unite
              }}</span>
              <span class="border-case-black" style="width: 19%">{{
                item.quantite
              }}</span>
            </div>
          </div>
          <input hidden type="text" required name="articleId" ngModel />
        </td>
        <td class="tdInput" style="width: 9%">
          <input
            readonly
            placeholder="UNITÉ"
            type="text"
            name="unite"
            disabled
            ngModel
          />
        </td>
        <td class="tdInput" style="width: 9%">
          <input
            type="number"
            placeholder="QUANTITE"
            min="1"
            step="0.01"
            max="{{ max }}"
            name="quantite"
            required
            ngModel
          />
        </td>
        <td class="tdInput" style="width: 16%">
          <input
            placeholder="DESTINATION"
            type="text"
            name="destination"
            ngModel
            (focus)="onFocusDestInputSearch(dstAddList)"
            (blur)="onBlurDestInputSearch(dstAddList)"
            (input)="OnSearchDest(dstSrchInput)"
            #dstSrchInput
          />
          <div hidden #dstAddList class="div-list" style="width:11.2%">
            <div
              *ngFor="let item of destinations"
              (click)="onSelectDstAdd(item)"
            >
              <span class="border-case-black" style="width: 100%">{{
                item.destination
              }}</span>
            </div>
          </div>
          <input hidden required type="text" name="destinationId" ngModel />
        </td>
        <td class="tdInput" style="width: 31%">
          <input
            placeholder="OBSERVATION"
            type="text"
            name="observation"
            ngModel
          />
        </td>
        <td class="tdInput" style="width: 5%"></td>
      </tr>
      <!--*********************************************************************************************************************************-->
      <!--*********************************************************************************************************************************-->
      <!--*********************************************************************************************************************************-->
      <ng-container *ngIf="!isFilter; else elseTemplate$">
        <tr
          class="stock-content"
          *ngFor="let livStck of livraisonDesignationCat; let i = index"
        >
          <td colspan="6">
            <div class="categorie" (click)="onShowshowDetail(livStck.id)">
              {{ livStck.categorie }}
            </div>
            <div #detail *ngIf="getShowdetail(livStck.id)">
              <div
                [ngStyle]="{
                  'background-color':
                    this.designationSelectedIndex === transIJ(livStck.id, ds.id)
                      ? 'rgba(255, 0, 0, 0.1)'
                      : ''
                }"
                (press)="deleteLivraisonDesignation(livStck.id, ds.id)"
                [attachOutsideOnClick]="true"
                (clickOutside)="onUpdateClickOutside(livStck.id, ds.id)"
                (click)="onUpdateClick(livStck.id, ds.id)"
                class="cont_div"
                *ngFor="
                  let ds of livStck.livraisonDesignationPresentations;
                  let j = index
                "
              >
                <span style="width: 30%" class="border-case">
                  <input
                    type="text"
                    name="designation{{ livStck.id }}_{{ ds.id }}"
                    [ngModel]="ds.designation"
                    (focus)="onFocusArtInputUpdateSearch(artUpdateList)"
                    (blur)="
                      onBlurArtInputUpdateSearch(
                        artUpdateList,
                        livStck.id,
                        ds.id
                      )
                    "
                    (input)="OnSearchArticle(artUpdateSrchInput)"
                    #artUpdateSrchInput
                    disabled
                    ngModel
                  />
                  <div
                    hidden
                    #artUpdateList
                    style="width: 45.5%"
                    class="div-list"
                  >
                    <div
                      (click)="artUpdateList.hidden = true"
                      style="font-weight:bold;font-style:italic"
                    >
                      <span class="border-case-black " style="width: 62%">{{
                        ds.designation
                      }}</span>
                      <span class="border-case-black " style="width: 19%">{{
                        ds.unite
                      }}</span>
                      <span class="border-case-black " style="width: 19%">{{
                        max
                      }}</span>
                    </div>
                    <div
                      *ngFor="let item of stockDispo"
                      (click)="onSelectArticleUpdate(item, livStck.id, ds.id)"
                    >
                      <span class="border-case-black " style="width: 62%">{{
                        item.designation
                      }}</span>
                      <span class="border-case-black " style="width: 19%">{{
                        item.unite
                      }}</span>
                      <span class="border-case-black " style="width: 19%">{{
                        item.quantite
                      }}</span>
                    </div>
                  </div>
                  <input
                    hidden
                    type="text"
                    required
                    name="articleId{{ livStck.id }}_{{ ds.id }}"
                    [ngModel]="ds.articleId"
                    ngModel
                  />
                </span>
                <span style="width: 9%" class="border-case">
                  <input
                    type="text"
                    name="unite{{ livStck.id }}_{{ ds.id }}"
                    [ngModel]="ds.unite"
                    readonly
                    ngModel
                  />
                </span>
                <span style="width: 9%" class="border-case">
                  <input
                    type="number"
                    min="1"
                    step="0.01"
                    max="{{ max }}"
                    name="quantite{{ livStck.id }}_{{ ds.id }}"
                    [ngModel]="ds.quantite"
                    disabled
                    ngModel
                  />
                </span>
                <span style="width: 16%" class="border-case">
                  <input
                    placeholder="DESTINATION"
                    type="text"
                    name="destination{{ livStck.id }}_{{ ds.id }}"
                    [ngModel]="ds.destinationNom"
                    ngModel
                    (focus)="onFocusDestInputUpdateSearch(dstUpdateList)"
                    (blur)="
                      onBlurDestInputUpdateSearch(
                        dstUpdateList,
                        livStck.id,
                        ds.id
                      )
                    "
                    (input)="OnSearchDest(dstSrchInput)"
                    #dstSrchInput
                  />
                  <div
                    hidden
                    #dstUpdateList
                    class="div-list"
                    style="width:11.2%"
                  >
                    <div
                      *ngFor="let item of destinations"
                      (click)="onSelectDstUpdate(livStck.id, ds.id, item)"
                      class="div-detail"
                    >
                      <span class="border-case-black" style="width: 100%">{{
                        item.destination
                      }}</span>
                    </div>
                  </div>
                  <input
                    hidden
                    required
                    type="text"
                    name="destinationId{{ livStck.id }}_{{ ds.id }}"
                    [ngModel]="ds.destinationId"
                    ngModel
                  />
                </span>
                <span style="width: 31%" class="border-case">
                  <input
                    type="text"
                    placeholder="OBSERVATION"
                    [ngModel]="ds.observation"
                    name="observation{{ livStck.id }}_{{ ds.id }}"
                    ngModel
                  />
                </span>
                <span class="border-case" style="width: 5%"></span>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
      <ng-template #elseTemplate$>
        <tr>
          <td colspan="6">
            <div
              [ngStyle]="{
                'background-color':
                  this.designationSelectedIndex === transIJ(ds.catId, ds.id)
                    ? 'rgba(225, 181, 116, 0.5)'
                    : ''
              }"
              (press)="deleteLivraisonDesignation(ds.catId, ds.id)"
              [attachOutsideOnClick]="true"
              (clickOutside)="onUpdateClickOutside(ds.catId, ds.id)"
              (click)="onUpdateClick(ds.catId, ds.id)"
              class="cont_div"
              *ngFor="let ds of livraisonDesignations; let j = index"
            >
              <span style="width: 30%" class="border-case">
                <input
                  type="text"
                  name="designation{{ ds.catId }}_{{ ds.id }}"
                  [ngModel]="ds.designation"
                  (focus)="onFocusArtInputUpdateSearch(artUpdateList)"
                  (blur)="
                    onBlurArtInputUpdateSearch(artUpdateList, ds.catId, ds.id)
                  "
                  (input)="OnSearchArticle(artUpdateSrchInput)"
                  #artUpdateSrchInput
                  disabled
                  ngModel
                />
                <div
                  hidden
                  #artUpdateList
                  style="width: 45.5%"
                  class="div-list"
                >
                  <div
                    (click)="artUpdateList.hidden = true"
                    style="font-weight:bold;font-style:italic"
                  >
                    <span class="border-case-black " style="width: 62%">{{
                      ds.designation
                    }}</span>
                    <span class="border-case-black " style="width: 19%">{{
                      ds.unite
                    }}</span>
                    <span class="border-case-black " style="width: 19%">{{
                      max
                    }}</span>
                  </div>
                  <div
                    *ngFor="let item of stockDispo"
                    (click)="onSelectArticleUpdate(item, ds.catId, ds.id)"
                  >
                    <span class="border-case-black " style="width: 62%">{{
                      item.designation
                    }}</span>
                    <span class="border-case-black " style="width: 19%">{{
                      item.unite
                    }}</span>
                    <span class="border-case-black " style="width: 19%">{{
                      item.quantite
                    }}</span>
                  </div>
                </div>
                <input
                  hidden
                  type="text"
                  required
                  name="articleId{{ ds.catId }}_{{ ds.id }}"
                  [ngModel]="ds.articleId"
                  ngModel
                />
              </span>
              <span style="width: 9%" class="border-case">
                <input
                  type="text"
                  name="unite{{ ds.catId }}_{{ ds.id }}"
                  [ngModel]="ds.unite"
                  readonly
                  ngModel
                />
              </span>
              <span style="width: 9%" class="border-case">
                <input
                  type="number"
                  min="1"
                  step="0.01"
                  max="{{ max }}"
                  name="quantite{{ ds.catId }}_{{ ds.id }}"
                  [ngModel]="ds.quantite"
                  disabled
                  ngModel
                />
              </span>
              <span style="width: 16%" class="border-case">
                <input
                  placeholder="DESTINATION"
                  type="text"
                  name="destination{{ ds.catId }}_{{ ds.id }}"
                  [ngModel]="ds.destinationNom"
                  ngModel
                  (focus)="onFocusDestInputUpdateSearch(dstUpdateList)"
                  (blur)="
                    onBlurDestInputUpdateSearch(dstUpdateList, ds.catId, ds.id)
                  "
                  (input)="OnSearchDest(dstSrchInput)"
                  #dstSrchInput
                />
                <div hidden #dstUpdateList class="div-list" style="width:11.2%">
                  <div
                    *ngFor="let item of destinations"
                    (click)="onSelectDstUpdate(ds.catId, ds.id, item)"
                    class="div-detail"
                  >
                    <span class="border-case-black" style="width: 100%">{{
                      item.destination
                    }}</span>
                  </div>
                </div>
                <input
                  hidden
                  required
                  type="text"
                  name="destinationId{{ ds.catId }}_{{ ds.id }}"
                  [ngModel]="ds.destinationId"
                  ngModel
                />
              </span>
              <span style="width: 31%" class="border-case">
                <input
                  type="text"
                  placeholder="OBSERVATION"
                  [ngModel]="ds.observation"
                  name="observation{{ ds.catId }}_{{ ds.id }}"
                  ngModel
                />
              </span>
              <span class="border-case" style="width: 5%"></span>
            </div>
          </td>
        </tr>
      </ng-template>
    </table>
  </form>
</div>
