<div class="container">
  <app-dialog (Cancel)="onHideAlert()" *ngIf="showAlert">
    {{ errorMsg }}
  </app-dialog>
  <div class="header-nav">
    <span class="left" (click)="onPrevious()"
      ><ion-icon name="arrow-dropleft"></ion-icon>
    </span>

    <span class="middle"> FICHE LOCATION : {{ position }}/{{ size }}</span>

    <span class="left" (click)="onNext()">
      <ion-icon name="arrow-dropright"></ion-icon>
    </span>
  </div>
  <form #f="ngForm">
    <table>
      <tr class="header">
        <th style="width: 29.1%">
          <input
            (input)="onFilter(false)"
            (blur)="onFilterBur(sds)"
            type="text"
            placeholder="DESIGNATION"
            name="libelle$"
            ngModel
            #sds
            style="width: 80%"
          />
          <ion-icon
            [ngStyle]="{
              color: typeAsc === 'libelle' ? 'black' : 'rgba(61, 61, 61, 0.815)'
            }"
            [name]="
              ascendant['libelle'] == true
                ? 'arrow-round-down'
                : 'arrow-round-up'
            "
            (click)="onSort('libelle', false)"
          ></ion-icon>
        </th>
        <th style="width: 6%">
          UNITE
        </th>
        <th style="width: 7%">
          DEBUT
        </th>
        <th style="width: 7%">
          FIN
        </th>
        <th style="width: 8%">
          QUANTITE
        </th>
        <th style="width: 20%">
          <input
            (input)="onFilter(false)"
            (blur)="onFilterBur(dd)"
            type="text"
            #dd
            placeholder="FOURNISSEUR"
            name="fournisseurNom$"
            ngModel
            style="width: 80%"
          />
          <ion-icon
            [ngStyle]="{
              color:
                typeAsc === 'fournisseurNom'
                  ? 'black'
                  : 'rgba(61, 61, 61, 0.815)'
            }"
            [name]="
              ascendant['fournisseurNom'] == true
                ? 'arrow-round-down'
                : 'arrow-round-up'
            "
            (click)="onSort('fournisseurNom', false)"
          ></ion-icon>
        </th>
        <th style="width: 18%">
          OBSERVATION
        </th>
        <th style="width: 4.1%">
          <ion-icon name="reverse-camera"></ion-icon>
        </th>
      </tr>
      <!--**************************************************************************************************************************************-->
      <ng-container *ngIf="designtions?.length > 0; else elseTemplate">
        <tr
          [ngStyle]="{
            'background-color':
              this.dsID == locDs.id ? 'rgba(255, 0, 0, 0.1)' : '',
            'border-bottom': locDs.tempsFin ? null : '2px solid red'
          }"
          *ngFor="let locDs of designtions; let i = index"
          (clickOutside)="onUpdateClickedOutside(locDs.id)"
          (click)="onUpdateClick(locDs.id)"
        >
          <td>
            {{ locDs.libelle }}
          </td>
          <td>
            {{ locDs.unite }}
          </td>
          <td>
            <input readonly [value]="locDs.tempsDebut" type="time" />
          </td>
          <td>
            <input readonly [value]="locDs.tempsFin" type="time" />
          </td>
          <td>
            {{ locDs.travailleLocString }}
          </td>

          <td>
            {{ locDs.fournisseurNom }}
          </td>
          <td>
            {{ locDs.observation }}
          </td>
          <td></td>
        </tr>
      </ng-container>
      <ng-template #elseTemplate>
        <tr style="text-align: center ; font-style: italic">
          <td colspan="8">rien a signaler</td>
        </tr>
      </ng-template>
    </table>
  </form>
</div>
