div {
  font-size: 12px;
  font-weight: bold;
  margin: 0px;
  text-align: center;
  margin: 10px;
}
span {
  padding: 2px;
  height: 31px;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.content {
  width: 25%;
}

.side_left {
  width: 10%;
  border-bottom-left-radius: 23px;
  border-top-left-radius: 23px;
}
.side_right {
  width: 10%;
  border-bottom-right-radius: 23px;
  border-top-right-radius: 23px;
}
ion-icon {
  font-size: 20px;
  margin-top: auto;
  color: black;
}
