ion-content {
  --background: #fff url("../../assets/bg2.png") no-repeat center center / cover;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.form_content {
  width: 300px;
  margin: auto;
}
