<ion-content class="content">
  <app-header></app-header>

  <div class="form_content">
    <form (ngSubmit)="OnAddProjet(f)" #f="ngForm">
      <div>
        <label for="nomProjet">Nom Du projet</label>
        <input
          type="text"
          name="nomProjet"
          id="nomProjet"
          ngModel
          #name="ngModel"
        />
      </div>

      <div>
        <label for="fichetype"> fiche d' initiation</label><br />

        <input
          type="checkbox"
          name="fichetype"
          id="fichetype"
          value="Ouvrier"
          ngModel
          #type="ngModel"
        />
        <label for="vehicle1">Fiche Des Ouvriers</label><br />

        <input
          type="checkbox"
          name="fichetype"
          id="fichetype"
          value="Location"
          ngModel
          #type="ngModel"
        />
        <label for="vehicle1">Fiche Des Locations</label><br />
      </div>

      <button type="submit" [disabled]="!f.valid">Valider</button>
    </form>
  </div>
</ion-content>
