<div class="container">
  <app-dialog *ngIf="showAlert" (OnCtn)="onContinue()" (Cancel)="onCancel()">
    {{ errorMsg }}
  </app-dialog>
  <form style="width: 100%" id="form" #f="ngForm">
    <table>
      <tr class="header">
        <th style="width: 45%">
          DESIGNATION
        </th>
        <th style="width: 5%">
          DCL
        </th>
        <th style="width: 5%">
          DJR
        </th>
        <th style="width: 5%">
          UNITE
        </th>
        <th style="width: 5%">
          QUT
        </th>
        <th style="width: 5%">
          %
        </th>
        <th style="width: 5%">
          RLS
        </th>
        <th style="width: 5%">
          RND_E
        </th>
        <th style="width: 5%">
          BDA
        </th>
        <th style="width: 5%">
          BDG
        </th>
        <th style="width: 5%">
          RND_R
        </th>
        <th style="width: 5%">
          <ion-icon name="reverse-camera"></ion-icon>
        </th>
      </tr>
      <!--*****************************************************************************************************-->
      <!--*****************************************************************************************************-->
      <!--*****************************************************************************************************-->
      <tr class="stock-content" *ngFor="let ds of designation; let i = index">
        <td colspan="12">
          <div
            (click)="onClickDesignation(i)"
            (clickOutside)="onClickOutsideDesignation(i)"
            [ngStyle]="{
              'background-color':
                selectedLot == i ? 'rgba(225, 181, 116, 0.8)' : ''
            }"
            class="categorie"
          >
            <span class="border-case" style="width: 45% ">
              <span
                (click)="onShowshowDetail(i)"
                [class]="showSousLot[i] ? 'rotate' : 'no-rotate'"
                >></span
              >
              <input
                readonly
                type="text"
                name="lot{{ i }}"
                [ngModel]="ds.lot"
                ngModel
                #lotUpt
              />
            </span>
            <span class="border-case" style=" width: 5% ">
              <input
                readonly
                type="text"
                name="dcl{{ i }}"
                [ngModel]="ds.dcl"
              /> </span
            ><span class="border-case" style="width: 5% ">
              <input
                readonly
                type="text"
                name="dcl{{ i }}"
                [ngModel]="ds.dcl"
              />
            </span>
            <span class="border-case empty" style="width: 45%"> </span>
          </div>

          <div *ngIf="showSousLot[i]">
            <div
              (click)="onClickSousLot(ds.lot, i, j)"
              (clickOutside)="onClickOutsideSousLot(sLot, i, j)"
              *ngFor="
                let sLot of ds.sousLotDesignationPresentations;
                let j = index
              "
            >
              <div
                [ngStyle]="{
                  'background-color':
                    i == selectedLot
                      ? 'rgba(225, 181, 116, 0.5)'
                      : selectedSousLot === transI_J(i, j)
                      ? 'rgba(225, 181, 116, 0.8)'
                      : ''
                }"
                class="cont_div"
              >
                <span class="border-case" style="width: 45%">
                  <span
                    style="margin-left: 2.5%;"
                    (click)="onShowshowDetailOfdetail(i, j)"
                    [class]="showDetailsSousLot[i][j] ? 'rotate' : 'no-rotate'"
                    >></span
                  >
                  <input
                    readonly
                    type="text"
                    name="slotName{{ i }}_{{ j }}"
                    [ngModel]="sLot.designation"
                    ngModel
                  />
                  <input
                    hidden
                    name="slotId{{ i }}_{{ j }}"
                    [ngModel]="sLot.slotid"
                    type="text"
                    required
                    ngModel
                  />
                </span>
                <span class="border-case empty" style="width: 5% "></span>
                <span class="border-case empty" style="width: 5% "></span>
                <span class="border-case" style="width: 5% ">
                  <input
                    readonly
                    style="text-align: center"
                    type="text"
                    name="slotUnite{{ i }}_{{ j }}"
                    [ngModel]="sLot.unite"
                    ngModel
                  />
                </span>
                <span class="border-case" style="width: 5%">
                  <input
                    readonly
                    style="text-align: center"
                    type="number"
                    min="0"
                    [ngModel]="sLot.quantite"
                    name="slotQuantite{{ i }}_{{ j }}"
                    placeholder="QUANTITE"
                    ngModel
                  />
                </span>
                <span class="border-case" style="width: 5%">
                  <input
                    readonly
                    style="text-align: center"
                    type="number"
                    min="0"
                    max="100"
                    name="avancement{{ i }}_{{ j }}"
                    placeholder="%"
                    [ngModel]="sLot.avancement"
                    ngModel
                    #slotPrct
                  />
                </span>
                <span class="border-case" style="width: 5%">
                  <input
                    readonly
                    style="text-align: center"
                    type="number"
                    name="rls{{ i }}_{{ j }}"
                    [ngModel]="calculRls(sLot.rls, sLot.quantite)"
                  />
                </span>
                <span class="border-case empty" style="width: 5%"> </span>
                <span class="border-case" style="width: 5%">
                  <input
                    readonly
                    style="text-align: center"
                    type="number"
                    name="bda{{ i }}_{{ j }}"
                    [ngModel]="sLot.bda"
                  />
                </span>
                <span class="border-case" style="width: 5%">
                  <input
                    readonly
                    style="text-align: center"
                    type="number"
                    name="bdg{{ i }}_{{ j }}"
                    [ngModel]="sLot.bdg"
                  />
                </span>
                <span class="border-case empty" style="width: 5%"> </span>
              </div>
              <div #detailSousLot *ngIf="showDetailsSousLot[i][j]">
                <!--ENTREE PAR SOUS LOT-->
                <div
                  [ngStyle]="{
                    'background-color':
                      selectedSousLot === transI_J(i, j)
                        ? 'rgba(225, 181, 116, 0.5)'
                        : ''
                  }"
                  *ngFor="
                    let entree of sLot.entreeDesignationPresentations;
                    let k = index
                  "
                >
                  <div class="cont_div">
                    <span class="border-case" style="width: 45%">
                      <input
                        readonly
                        style="padding-left: 9%"
                        type="text"
                        name="entreeNom{{ i }}_{{ j }}_{{ k }}"
                        [ngModel]="entree.entreeNom"
                        ngModel
                        #entreeUpdt
                      />
                    </span>
                    <span class="border-case empty" style="width: 5%"> </span>
                    <span class="border-case empty" style="width: 5%"> </span>

                    <span class="border-case" style="width: 5%">
                      <input
                        readonly
                        style="text-align: center"
                        type="text"
                        name="unite{{ i }}_{{ j }}_{{ k }}"
                        [ngModel]="entree.unite"
                        ngModel
                      />
                      <input
                        hidden
                        name="entreeId{{ i }}_{{ j }}_{{ k }}"
                        type="text"
                        ngModel
                        [ngModel]="entree.idEntree"
                      />
                      <input
                        hidden
                        name="type{{ i }}_{{ j }}_{{ k }}"
                        type="text"
                        ngModel
                        [ngModel]="entree.type"
                      />
                    </span>

                    <span class="border-case" style="width: 5%"
                      ><input
                        readonly
                        required
                        style="text-align: center"
                        type="number"
                        name="quantite{{ i }}_{{ j }}_{{ k }}"
                        [ngModel]="entree.quantite"
                        ngModel
                      />
                    </span>
                    <span class="border-case empty" style="width: 5%"> </span>
                    <span class="border-case" style="width: 5%"
                      ><input
                        readonly
                        required
                        style="text-align: center"
                        type="number"
                        name="rls{{ i }}_{{ j }}_{{ k }}"
                        [ngModel]="calculRls(entree.rls, entree.quantite)"
                        ngModel
                      />
                    </span>
                    <span class="border-case" style="width: 5%"
                      ><input
                        readonly
                        required
                        style="text-align: center"
                        type="number"
                        name="rndEstimer{{ i }}_{{ j }}_{{ k }}"
                        [ngModel]="entree.rndEstimer"
                        ngModel
                      />
                    </span>
                    <span class="border-case" style="width: 5%"
                      ><input
                        readonly
                        required
                        style="text-align: center"
                        type="number"
                        name="bda{{ i }}_{{ j }}_{{ k }}"
                        [ngModel]="entree.bda"
                        ngModel
                      />
                    </span>
                    <span class="border-case" style="width: 5%">
                      <input
                        readonly
                        style="text-align: center"
                        type="number"
                        name="bdg{{ i }}_{{ j }}_{{ k }}"
                        [ngModel]="entree.bdg"
                      />
                    </span>
                    <span class="border-case" style="width: 5%"
                      ><input
                        readonly
                        required
                        style="text-align: center"
                        type="number"
                        name="rndReel{{ i }}_{{ j }}_{{ k }}"
                        [ngModel]="entree.rndReel"
                        ngModel
                      />
                    </span>
                    <span class="border-case empty" style="width: 5%"> </span>
                  </div>

                  <!--AJOUT SOUS LOTS-->
                </div>
                <!--ENTREE PAR SOUS LOT-->
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </form>
</div>
