<div class="container">
  <app-dialog *ngIf="showAlert" (OnCtn)="onDelete()" (Cancel)="onHideAlert()">
    {{ errorMsg }}
  </app-dialog>
  <div class="header-nav">
    <span class="left" (click)="onPrevious()"
      ><ion-icon name="arrow-dropleft"></ion-icon>
    </span>
    <label for="file" class="left"
      ><ion-icon name="download">
        <input
          type="file"
          id="file"
          (change)="getFile($event)"
          style="visibility: hidden;"
        />
      </ion-icon>
    </label>

    <span class="middle"
      >LISTE DES FOURNISSEURS : {{ position }}/{{ size }}
    </span>

    <span class="left" (click)="OnCancel()">
      <ion-icon name="arrow-round-up"></ion-icon>
    </span>
    <span class="left" (click)="onNext()">
      <ion-icon name="arrow-dropright"></ion-icon>
    </span>
  </div>
  <table>
    <tr class="header" (clickOutside)="this.typeAsc = ''">
      <th>
        <input
          (focus)="onFilterFocus(keyWord)"
          (blur)="OnFilterBlur(keyWord)"
          (input)="onFilterByFournisseur(keyWord.value)"
          type="text"
          value="FROUNISSEURS"
          placeholder="FROUNISSEURS"
          #keyWord
          style="width: 80%"
          [(ngModel)]="key"
        />
      </th>
    </tr>

    <tr
      *ngIf="!isFilterByMateriel$ || fournisseurs.length === 0"
      [ngStyle]="{
        'background-color':
          fourIndex === -2 || selected == -2 ? 'rgba(255, 0, 0, 0.1)' : '',
        'text-align': 'center',
        'font-style': 'italic'
      }"
      (click)="OnSelectMaterielWithNoFournisseur()"
    >
      <td>
        Materiel sans fournisseur
      </td>
    </tr>
    <tr
      (press)="OnDeleteFournisseur(four.id, i)"
      (clickOutside)="onClickedOutside(fourUpdateInput, four.id)"
      (click)="onClick(fourUpdateInput, i, four.id)"
      id="{{ four.id }}"
      #fournisseur
      *ngFor="let four of fournisseurs; let i = index"
    >
      <td
        [ngStyle]="{
          'background-color':
            fourIndex == four.id || selected == four.id
              ? 'rgba(255, 0, 0, 0.1)'
              : ''
        }"
      >
        <div>
          <div class="cont_div">
            <span
              (dblclick)="onAssoFourToProjet(four.id, 'false')"
              [ngStyle]="
                four.isAssoWithProjet
                  ? { 'font-weight': 'bold' }
                  : { 'font-weight': 'normal' }
              "
              style="width: 85%;text-align: left "
            >
              <input
                disabled
                (blur)="OnBlurUpdateFounisseur(fourUpdateInput, four)"
                type="text"
                [ngModel]="four.fournisseurNom"
                #fourUpdateInput
              />
            </span>
            <span
              (dblclick)="onAssoFourToProjet(four.id, 'true')"
              style="font-style: oblique"
            >
              {{ calculNumber(i) }}
            </span>
          </div>
        </div>
      </td>
    </tr>
    <tr
      *ngIf="!isFilterByMateriel$ && selected !== -1"
      [ngStyle]="{
        'text-align': 'center',
        'font-style': 'italic',
        'font-weight': 'bold'
      }"
      (click)="OnAnnulerFilter()"
    >
      <td>
        Annuler le filter
      </td>
    </tr>
    <tr>
      <input
        class="tdInput"
        (blur)="OnaddFounisseur(fourInput, listF)"
        (focus)="OnFocusAddFounisseur(listF)"
        type="text"
        placeholder="FOURNISSEUR"
        #fourInput
      />
      <div #listF hidden="false" class="div-list">
        <div *ngFor="let item of fournisseursNonAsso" style="width : 100%">
          <span
            (click)="onselectFournisseur(fourInput, item.fournisseurNom)"
            style=" display: inline-block; border: 1px solid rgba(0, 0, 0, 0.781);width:100%"
            >{{ item.fournisseurNom }}</span
          >
        </div>
      </div>
    </tr>
  </table>
</div>
