<div (onclick)="click()" class="container">
  <app-dialog *ngIf="showAlert" (OnCtn)="onContinue()" (Cancel)="onHideAlert()">
    {{ errorMsg }}
  </app-dialog>
  <table>
    <tr class="header">
      <th style="width: 15%">
        <input
          (input)="onFilter()"
          type="text"
          placeholder="NOM & PRENOM"
          name="nom$"
          ngModel
          style="width: 100%"
        />
      </th>
      <th style="width: 15%">
        <input
          (input)="onFilter()"
          type="text"
          placeholder="ORGANISME"
          name="organisme$"
          ngModel
          style="width: 100%"
        />
      </th>
      <th style="width: 25%">
        OBJET
      </th>
      <th style="width: 7%">
        DEBUT
      </th>
      <th style="width: 14%">
        DEBUT_SYS
      </th>
      <th style="width: 7%">
        FIN
      </th>
      <th style="width: 14%">
        FIN_SYS
      </th>
    </tr>

    <!--*****************************************************************************************************-->
    <ng-container *ngIf="designation$.length > 0; else elseTemplate">
      <tr
        [ngStyle]="{
          'background-color':
            selectedDsIndex === i ? 'rgba(255, 0, 0, 0.1)' : ''
        }"
        (press)="onDelete(item.id)"
        (click)="onUpdateClick(i)"
        (clickOutside)="onUpdateClickOutside(i)"
        *ngFor="let item of designation$; let i = index"
      >
        <td>
          <input
            disabled
            type="text"
            name="nom{{ i }}"
            [ngModel]="item.nom"
            placeholder="NOM & PRENOM"
            ngModel
          />
        </td>
        <td>
          <input
            disabled
            type="text"
            [ngModel]="item.organisme"
            name="organisme{{ i }}"
            placeholder="ORGANISME"
            ngModel
          />
        </td>
        <td>
          <input
            disabled
            type="text"
            name="objet{{ i }}"
            [ngModel]="item.objet"
            placeholder="OBJET"
            ngModel
          />
        </td>
        <td>
          <input
            disabled
            type="text"
            [ngModel]="item.debut"
            name="debut{{ item.id }}"
            placeholder="DEBUT"
            ngModel
          />
        </td>
        <td>
          <input
            readonly
            [type]="text"
            [ngModel]="item.debut_sys"
            name="debut_sys{{ item.id }}"
            placeholder="DEBUT_SYS"
            ngModel
          />
        </td>

        <td>
          <input
            disabled
            (input)="onInputFinUpdate(item.id)"
            type="text"
            [ngModel]="item.fin"
            name="fin{{ item.id }}"
            placeholder="FIN"
            #fin
            ngModel
          />
        </td>
        <td>
          <input
            readonly
            [type]="text"
            [ngModel]="item.fin_sys"
            name="fin_sys{{ item.id }}"
            placeholder="FIN_SYS"
            ngModel
          />
        </td>
      </tr>
    </ng-container>
    <ng-template #elseTemplate>
      <tr
        class="stock-content"
        style="text-align: center ; font-style: italic "
      >
        <td colspan="5">rien a signaler</td>
      </tr>
    </ng-template>
  </table>
</div>
