<div class="container" HeightFiche>
  <app-dialog *ngIf="showAlert" (OnCtn)="onDelete()" (Cancel)="onHideAlert()">
    {{ errorMsg }}
  </app-dialog>
  <form
    id="form1"
    (ngSubmit)="
      isUpdate === 1 ? OnUpdateOuvrierDesignation() : OnAddOuvrierDesignation()
    "
    #f="ngForm"
  >
    <table>
      <tr class="header">
        <th style="width: 20%">
          <input
            (input)="onFilter(false)"
            type="text"
            name="nomOuv$"
            placeholder="NOM & PRENOM"
            ngModel
            style="width: 80%"
          />
          <ion-icon
            [name]="
              orderByType('nom') == true ? 'arrow-round-down' : 'arrow-round-up'
            "
            (click)="onSort(false, 'nom')"
            [ngStyle]="{ color: this.orderTypeFocus('nom') ? 'black' : 'gray' }"
          ></ion-icon>
        </th>
        <th style="width: 7%">
          CIN
        </th>
        <th style="width: 20%">
          <input
            (input)="onFilter(false)"
            type="text"
            placeholder="QUALIFICATION"
            name="qualification$"
            ngModel
            style="width: 80%"
          />
          <ion-icon
            [name]="
              orderByType('qualification') == true
                ? 'arrow-round-down'
                : 'arrow-round-up'
            "
            (click)="onSort(false, 'qualification')"
            [ngStyle]="{
              color: this.orderTypeFocus('qualification') ? 'black' : 'gray'
            }"
          ></ion-icon>
        </th>
        <th style="width: 9%">
          DEBUT
          <ion-icon
            [name]="
              orderByType('tempsDebut') == true
                ? 'arrow-round-down'
                : 'arrow-round-up'
            "
            (click)="onSort(false, 'tempsDebut')"
            [ngStyle]="{
              color: this.orderTypeFocus('tempsDebut') ? 'black' : 'gray'
            }"
          ></ion-icon>
        </th>
        <th style="width: 9%">
          FIN
          <ion-icon
            [name]="
              orderByType('tempsFin') == true
                ? 'arrow-round-down'
                : 'arrow-round-up'
            "
            (click)="onSort(false, 'tempsFin')"
            [ngStyle]="{
              color: this.orderTypeFocus('tempsFin') ? 'black' : 'gray'
            }"
          ></ion-icon>
        </th>
        <th style="width: 8%">
          TRV
          <ion-icon
            [name]="
              orderByType('tempsDiff') == true
                ? 'arrow-round-down'
                : 'arrow-round-up'
            "
            (click)="onSort(false, 'tempsDiff')"
            [ngStyle]="{
              color: this.orderTypeFocus('tempsDiff') ? 'black' : 'gray'
            }"
          ></ion-icon>
        </th>
        <th style="width: 8%">
          JOUR
          <ion-icon
            [name]="
              orderByType('jour') == true
                ? 'arrow-round-down'
                : 'arrow-round-up'
            "
            (click)="onSort(false, 'jour')"
            [ngStyle]="{
              color: this.orderTypeFocus('jour') ? 'black' : 'gray'
            }"
          ></ion-icon>
        </th>
        <th style="width: 8%">
          H.SUP
          <ion-icon
            [name]="
              orderByType('hsup') == true
                ? 'arrow-round-down'
                : 'arrow-round-up'
            "
            (click)="onSort(false, 'hsup')"
            [ngStyle]="{
              color: this.orderTypeFocus('hsup') ? 'black' : 'gray'
            }"
          ></ion-icon>
        </th>
        <th style="width: 5%">
          EPI
        </th>
        <th style="width: 5%">
          <ion-icon name="reverse-camera"></ion-icon>
        </th>
      </tr>
      <tr
        class="inputs"
        [clickOutsideEnabled]="isUpdate === 0"
        (clickOutside)="onClickAddOutside()"
        (click)="onClickAdd()"
      >
        <td style="width: 22.8%  " class="tdInput">
          <input
            type="text"
            name="ouv"
            style="text-align: left;"
            (input)="onSearch()"
            placeholder="NOM & PRENOM"
            required
            ngModel
            (focus)="onFocusSelectOuvrier(ouvadd)"
            (blur)="onBlurSelectOuvrier(ouvadd, dateDebut)"
            #ouv
          />
          <input hidden type="text" name="ouvID" required ngModel />
          <div hidden #ouvadd style="width :254%" class="div-list">
            <div
              *ngFor="let item of OuvrierToSelect"
              (click)="onAddSelectOuvrier(item)"
            >
              <span class="border-case-black" style="width: 39.5%"
                >{{ item.nom }} {{ item.prenom }}</span
              >
              <span class="border-case-black" style="width: 25.5%">{{
                item.cin
              }}</span>
              <span class="border-case-black" style="width: 35%">{{
                item.qualification
              }}</span>
            </div>
          </div>
        </td>

        <td style="width: 14.5%" class="tdInput">
          {{ ouvrierCin }}
        </td>

        <td style="width: 20%" class="tdInput">
          {{ ouvrierQualification }}
        </td>
        <td style="width: 7%" class="tdInput">
          <input
            type="time"
            name="debut"
            (blur)="onClickAddOutside()"
            required
            ngModel
            #dateDebut
          />
        </td>
        <td style="width: 7%" class="tdInput">
          <input type="time" name="fin" ngModel #dateFin />
        </td>
        <td style="width: 8.5%" class="tdInput">
          <input
            type="text"
            readonly
            name="travail"
            ngModel
            [ngModel]="calculTravail(dateDebut.value, dateFin.value)"
            [ngStyle]="{
              color:
                calculTravail(dateDebut.value, dateFin.value) === '--H --M'
                  ? 'gray'
                  : 'black'
            }"
          />
        </td>
        <td style="width:5%" class="tdInput">
          <input
            type="number"
            min="0"
            max="1"
            step="0.1"
            name="jour"
            placeholder="JOUR"
            ngModel
          />
        </td>
        <td style="width:5%" class="tdInput">
          <input type="number" name="hSup" placeholder="H.SUP" ngModel />
        </td>
        <td style="width:5%" class="tdInput">
          <input
            [ngModel]="false"
            type="checkbox"
            name="epi"
            placeholder="EPI"
            ngModel
            #epiInput
          />
        </td>
        <td style="width:5%" class="tdInput"></td>
      </tr>

      <!--   [clickOutsideEnabled]="
            isUpdate === 1 && this.ouvDsSlIndex == ouvDs.id
          " ****************************************************************************************************************************-->
      <!--****************************************************************************************************************************-->
      <!--****************************************************************************************************************************-->

      <ng-container
        *ngIf="FicheOuvrier?.designations.length > 0; else elseTemplate"
      >
        <tr
          class="overflow"
          [ngStyle]="{
            'background-color':
              ouvDsSlIndex == ouvDs.id ? 'rgba(255, 0, 0, 0.1)' : ''
          }"
          (press)="onLongPress(ouvDs.id)"
          *ngFor="let ouvDs of designationOuvrier; let i = index"
          [attachOutsideOnClick]="true"
          (clickOutside)="onClickUpdateOutside(ouvDs.id)"
          (click)="onUpdateClick(ouvDs.id)"
        >
          <td
            style="width: 22.8% ; position: relative;text-align: left; "
            tabindex="1"
          >
            <input
              disabled
              style="text-align: left;"
              type="text"
              name="ouv{{ ouvDs.id }}"
              (input)="onSearchUpdate(onSearchUpdate)"
              placeholder="NOM & PRENOM"
              [ngModel]="ouvDs.nom"
              required
              ngModel
              (focus)="onFocusSelectOuvrierUpdate(ouvUpdate)"
              (blur)="onBlurSelectOuvrierUpdate(ouvUpdate, ouvDs, tempsDebut)"
            />
            <input
              hidden
              type="text"
              name="ouvID{{ ouvDs.id }}"
              [ngModel]="ouvDs.idOuvrier"
              required
              ngModel
            />
            <div hidden #ouvUpdate style="width :254%" class="div-list">
              <div
                (click)="ouvUpdate.hidden = true"
                style="font-weight:bold;font-style:italic"
              >
                <span class="border-case-black" style="width: 39.5%">
                  {{ ouvDs.nom }}
                </span>
                <span class="border-case-black" style="width: 25.5%">{{
                  ouvDs.cin
                }}</span>
                <span class="border-case-black" style="width: 35%">{{
                  ouvDs.qualification
                }}</span>
              </div>
              <div
                *ngFor="let item of OuvrierToSelect"
                (click)="onAddSelectOuvrierUpdate(item, i)"
              >
                <span class="border-case-black" style="width: 39.5%"
                  >{{ item.nom }} {{ item.prenom }}</span
                >
                <span class="border-case-black" style="width: 25.5%">{{
                  item.cin
                }}</span>
                <span class="border-case-black" style="width: 35%">{{
                  item.qualification
                }}</span>
              </div>
            </div>
          </td>

          <td style="width: 14.5% ; text-align: left;" tabindex="1">
            <input
              readonly
              style="text-align: left;"
              type="text"
              name="cin{{ ouvDs.id }}"
              [ngModel]="ouvDs.cin"
              required
              ngModel
            />
          </td>

          <td style="width: 20% ; " tabindex="1">
            <input
              style="text-align: left;"
              readonly
              type="text"
              name="qualification{{ ouvDs.id }}"
              [ngModel]="ouvDs.qualification"
              required
              ngModel
            />
          </td>
          <td style="width: 7%">
            <input
              [ngModel]="ouvDs.tempsDebut"
              [type]="this.ouvDsSlIndex == ouvDs.id ? 'time' : 'text'"
              disabled
              name="debut{{ ouvDs.id }}"
              placeholder="debut"
              required
              ngModel
              #tempsDebut
              (blur)="goToNext(tempsFin)"
            />
          </td>
          <td style="width: 7%">
            <input
              disabled
              [ngModel]="ouvDs.tempsFin"
              [type]="this.ouvDsSlIndex == ouvDs.id ? 'time' : 'text'"
              name="fin{{ ouvDs.id }}"
              placeholder="FIN"
              ngModel
              #tempsFin
              (blur)="goToNext(jour)"
            />
          </td>
          <td style="width: 8.5%">
            <input
              readonly
              type="text"
              name="travail{{ ouvDs.id }}"
              placeholder="travail"
              ngModel
              [ngModel]="ouvDs.tempsDiff | minToHrs: 'M'"
              [ngStyle]="{
                color: ouvDs.tempsDiff === -1 ? 'gray' : 'black'
              }"
              #trv
            />
          </td>
          <td style="width: 5%">
            <input
              disabled
              [ngModel]="ouvDs.jour"
              type="number"
              min="0"
              max="1"
              step="0.1"
              name="jour{{ ouvDs.id }}"
              placeholder="JOUR"
              ngModel
              #jour
              [ngStyle]="{
                color: ouvDs.jourValid ? 'black' : 'red'
              }"
              (blur)="goToNext(hSup)"
            />
          </td>
          <td style="width: 5%">
            <input
              disabled
              [ngModel]="ouvDs.hsup"
              type="number"
              name="hSup{{ ouvDs.id }}"
              placeholder="HSUP"
              ngModel
              #hSup
              [ngStyle]="{
                color: ouvDs.hsupValid ? 'black' : 'red'
              }"
              (blur)="onClickUpdateOutside(ouvDs.id)"
            />
          </td>
          <td style="width: 5%">
            <input
              disabled
              type="checkbox"
              name="epi{{ ouvDs.id }}"
              placeholder="EPI"
              [ngModel]="ouvDs.epi"
              ngModel
            />
          </td>
          <td style="width: 5%"></td>
        </tr>
      </ng-container>
      <ng-template #elseTemplate>
        <tr style="text-align: center ; font-style: italic">
          <td colspan="10">rien a signaler jusqu'au moment</td>
        </tr>
      </ng-template>
    </table>
  </form>
</div>
