<div class="container">
  <table>
    <tr>
      <th style="width: 60%">
        <input
          (input)="filter(DsKeyWord.value)"
          type="text"
          value="DESIGNATION"
          (blur)="onBlurHeaderInput(DsKeyWord, 'DESIGNATION')"
          (focus)="onFocusHeaderInput(DsKeyWord, 'DESIGNATION')"
          placeholder="DESIGNATION"
          #DsKeyWord
          ngModel
          name="designation$"
          style="width: 60%"
        />
      </th>
      <th style="width: 20%">
        UNITÉ
      </th>
      <th style="width: 20%">
        QUANTITÉ
      </th>
    </tr>
    <ng-container *ngIf="stocks.length > 0; else elseTemplate">
      <ng-container *ngIf="true; else elseTemplate$">
        <tr class="stock-content" *ngFor="let stock of stocks; let i = index">
          <td colspan="3">
            <div>
              <div
                class="categorie"
                (click)="onShowshowDetail(stock.categorie)"
              >
                {{ stock.categorie }}
              </div>
              <div *ngIf="!stock.stockable" class="stock-detail">
                <div
                  [ngStyle]="{
                    'background-color':
                      this.dsSelected == transIJ(i, j)
                        ? 'rgba(255, 0, 0, 0.1)'
                        : ''
                  }"
                  [attachOutsideOnClick]="true"
                  (clickOutside)="onClickedOutside(i, j)"
                  (click)="onFocus(i, j)"
                  *ngFor="let item of stock.stockDesignations; let j = index"
                  class="cont_div"
                >
                  <span class="border-case" style="width: 60%">
                    {{ item.designation }}
                  </span>
                  <span class="border-case" style="width: 20%">
                    {{ item.unite }}
                  </span>
                  <span class="border-case" style="width: 20%">
                    {{ item.quantite }}
                  </span>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
      <ng-template #elseTemplate$>
        <tr>
          <td>
            <div
              [ngStyle]="{
                'background-color':
                  this.dsSelected == transIJ(i, j) ? 'rgba(255, 0, 0, 0.1)' : ''
              }"
              [attachOutsideOnClick]="true"
              (clickOutside)="onClickedOutside(i, j)"
              (click)="onFocus(i, j)"
              *ngFor="let item of stock.stockDesignations; let j = index"
              class="cont_div"
            >
              <span class="border-case" style="width: 60%">
                {{ item.designation }}
              </span>
              <span class="border-case" style="width: 20%">
                {{ item.unite }}
              </span>
              <span class="border-case" style="width: 20%">
                {{ item.quantite }}
              </span>
            </div>
          </td>
        </tr>
      </ng-template>
    </ng-container>
    <ng-template #elseTemplate>
      <tr
        class="stock-content"
        style="text-align: center ; font-style: italic "
      >
        <td colspan="3">rien a signaler</td>
      </tr>
    </ng-template>
  </table>
</div>
