.container {
  height: 100%;
  padding-bottom: 20px;
  width: 45%;
  font-size: 12px;
  display: inline-block;
  position: relative;
  overflow: scroll;
}
th {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 3;
  position: sticky;
  top: 25px;
  background-color: rgba(255, 255, 255);
  text-align: center;
  overflow-wrap: break-word;
  padding-top: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.case-left {
  padding-bottom: 3px;
  padding-top: 3px;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.5);

  padding-left: 20px;
  width: 90%;
}
.middle {
  text-align: center;
  height: 25px;
  width: 80%;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}
.left {
  height: 25px;
  width: 10%;
  display: inline-block;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 2px #f25454 solid;
}
.checkbox {
  width: 14px;
  height: 14px;
}
.case-right {
  padding-bottom: 3px;
  padding-top: 3px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 20%;
}
.label-radio {
  margin-right: 15px;
}
.middle {
  text-align: center;
  height: 25px;
  width: 80%;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}
.cont_div {
  display: flex;
  width: 100%;
}

.div-list {
  width: 100%;
  background-color: rgb(250, 250, 250);
  position: absolute;
  z-index: 1;
  border: 1px solid rgb(15, 13, 13);
  height: 50px;
  overflow: scroll;
}

.span-detail {
  border-bottom: 1px solid rgb(139, 139, 139);
  display: inline-block;
}
.span-padding {
  padding-top: 3px;
  padding-bottom: 3px;
}
.div-detail:hover {
  background-color: rgba(255, 0, 0, 0.1);
}

tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

tr {
  border-top: 1px solid rgba(235, 231, 231, 0.651);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}
td {
  width: 20x;
  text-align: center;
}
input {
  width: 100%;

  background: transparent;
  border: none;
}
.input-search {
  width: 100%;
  padding-left: 40px;
  border: 1px solid rgba(235, 231, 231, 0.651);
  background-color: rgba(255, 0, 0, 0.1);
}
.tdInput {
  position: sticky;
  top: 45px;
  background-color: rgb(216, 194, 164);
}
.header-title {
  height: 25px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 3;
  width: 100%;
  display: inline-block;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgba(189, 185, 167, 0.904);
}
.header {
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}
