<div class="container">
  <app-dialog *ngIf="showAlert" (OnCtn)="onDelete()" (Cancel)="onHideAlert()">
    {{ errorMsg }}
  </app-dialog>
  <div class="header-title">
    <label for="file" class="left"
      ><ion-icon name="download">
        <input type="file" id="file" style="visibility: hidden;" />
      </ion-icon>
    </label>

    <span class="middle">LISTE DES FOURNISSEURS </span>

    <span class="left">
      <ion-icon name="arrow-round-up"></ion-icon>
    </span>
  </div>
  <table>
    <tr class="header">
      <th>
        <input
          (input)="onFilterByFournisseur(keyWord.value)"
          type="text"
          placeholder="FROUNISSEUR"
          #keyWord
          style="width: 70%"
        />
      </th>
    </tr>
    <tr (click)="OnClickAddFournisseur(fourInput)">
      <td class="tdInput">
        <input
          [disabled]="fourSelected !== -1 ? true : false"
          type="text"
          style="width : 100%;"
          placeholder="FOURNISSEUR"
          (focus)="list.hidden = false"
          (input)="OnInputFournisseurNonasso(fourInput.value)"
          (blur)="OnBlurAddFounisseur(fourInput, list)"
          #fourInput
        />
        <div #list hidden="false" class="div-list">
          <div *ngFor="let item of fournisseursNonAsso" style="width : 100%">
            <span
              (click)="onselectFournisseur(fourInput, item.fournisseurNom)"
              style=" display: inline-block; border: 1px solid rgba(0, 0, 0, 0.781);width:100%"
              >{{ item.fournisseurNom }}</span
            >
          </div>
        </div>
      </td>
    </tr>
    <tr
      [attachOutsideOnClick]="true"
      (clickOutside)="onClickedOutside(fourUpdateInput)"
      (click)="onClickUpdateFournisseur(fourUpdateInput, four)"
      (press)="OnDeleteFournisseur(i, four.fournisseurNom)"
      #fournisseur
      id="{{ four.id }}"
      *ngFor="let four of fournisseursAsso; let i = index"
      (dblclick)="onAssoFourToProjet(four.id)"
    >
      <td>
        <div
          [ngStyle]="{
            'background-color':
              fourSelected == four.id ? 'rgba(255, 0, 0, 0.1)' : '',
            'font-weight': four.isAssoWithProjet ? 'bold' : 'normal'
          }"
          class="cont_div"
          style=" padding-top: 2px;padding-bottom: 2px;"
        >
          <span style="width: 85%;text-align: left">
            <input
              disabled
              type="text"
              [ngModel]="four.fournisseurNom"
              #fourUpdateInput
            />
          </span>
          <span style="font-style: oblique">
            {{ descFr[i] }}
          </span>
        </div>
      </td>
    </tr>
  </table>
</div>
