.container {
  position: relative;
  width: 100%;
  overflow: scroll;
}
.header-nav {
  height: 25px;
  width: 80%;
  display: inline-block;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  padding-bottom: 10px;
}
.middle {
  text-align: center;
  height: 25px;
  width: 80%;
  display: inline-block;
  font-weight: bold;
}
.left {
  height: 25px;
  width: 10%;
  display: inline-block;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 2px #f25454 solid;
}
ion-icon {
  font-size: 15px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  table-layout: fixed;
}

td {
  position: relative;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  overflow-wrap: break-word;
}
td:last-child {
  border-right: none;
}

.tdInput {
  z-index: 3;
  position: sticky;
  top: 24px;
  background-color: rgb(216, 194, 164);
}

th {
  position: sticky;
  top: 0;
  width: 10%;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255);
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  overflow-wrap: break-word;
}
th:last-child {
  border-top-right-radius: 10px;
  border-right: none;
}
th:first-child {
  border-top-left-radius: 10px;
  border-left: none;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
  border-left: none;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
  border-right: none;
}
tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

input {
  text-align: center;
  width: 100%;
  background: transparent;
  border: none;
}
.Select_options {
  display: block;
  margin: 0 auto;
  width: 100%;
  background: transparent;
  border: none;
}
.select_options :after {
  background: transparent;
}

.case-left {
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.5);

  width: 100%;
}

.cont_div {
  display: flex;
  width: 100%;
}
.div-list-fr {
  width: 100%;
  background-color: rgb(250, 250, 250);
  position: absolute;
  z-index: 1;
  border: 1px solid white;
  height: 50px;
  overflow: auto;
}

.div-list {
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 50px;
  background-color: white;

  overflow: auto;
}
.span-detail {
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
  display: inline-block;
}
