<div class="container" HeightFiche>
  <app-dialog (OnCtn)="onCtnAlert()" (Cancel)="onHideAlert()" *ngIf="showAlert">
    {{ errorMsg }}
  </app-dialog>
  <form
    (ngSubmit)="
      isUpdate == 1 ? OnUpdateLocationDesignation() : OnAddLocationDesignation()
    "
    #f="ngForm"
  >
    <table>
      <tr class="header">
        <th style="width: 25%">
          <input
            (input)="onFilter(false)"
            type="text"
            placeholder="DESIGNATION"
            name="libelle$"
            ngModel
            style="width: 80%"
          />
          <ion-icon
            [name]="
              orderByType('libelle') == true
                ? 'arrow-round-down'
                : 'arrow-round-up'
            "
            (click)="onSort(false, 'libelle')"
            [ngStyle]="{
              color: this.orderTypeFocus('libelle') ? 'black' : 'gray'
            }"
          ></ion-icon>
        </th>
        <th style="width: 7%">
          UNITE
        </th>
        <th style="width: 10%">
          DEBUT
          <ion-icon
            [name]="
              orderByType('tempsDebut') == true
                ? 'arrow-round-down'
                : 'arrow-round-up'
            "
            (click)="onSort(false, 'tempsDebut')"
            [ngStyle]="{
              color: this.orderTypeFocus('tempsDebut') ? 'black' : 'gray'
            }"
          ></ion-icon>
        </th>
        <th style="width: 8%">
          FIN
          <ion-icon
            [name]="
              orderByType('tempsFin') == true
                ? 'arrow-round-down'
                : 'arrow-round-up'
            "
            (click)="onSort(false, 'tempsFin')"
            [ngStyle]="{
              color: this.orderTypeFocus('tempsFin') ? 'black' : 'gray'
            }"
          ></ion-icon>
        </th>
        <th style="width: 13%">
          QUANTITE
          <ion-icon
            [name]="
              orderByType('travailleLoc') == true
                ? 'arrow-round-down'
                : 'arrow-round-up'
            "
            (click)="onSort(false, 'travailleLoc')"
            [ngStyle]="{
              color: this.orderTypeFocus('travailleLoc') ? 'black' : 'gray'
            }"
          ></ion-icon>
        </th>
        <th style="width: 17%">
          <input
            (input)="onFilter(false)"
            type="text"
            placeholder="FOUR."
            name="fournisseurNom$"
            ngModel
            style="width: 80%"
          />
          <ion-icon
            [name]="
              orderByType('fournisseurNom') == true
                ? 'arrow-round-down'
                : 'arrow-round-up'
            "
            (click)="onSort(false, 'fournisseurNom')"
            [ngStyle]="{
              color: this.orderTypeFocus('fournisseurNom') ? 'black' : 'gray'
            }"
          ></ion-icon>
        </th>
        <th style="width: 18%">
          <input
            (input)="onFilter(false)"
            type="text"
            placeholder="BRF"
            name="brf$"
            ngModel
            style="width: 80%"
          />
          <ion-icon
            [name]="
              orderByType('brf') == true ? 'arrow-round-down' : 'arrow-round-up'
            "
            (click)="onSort(false, 'brf')"
            [ngStyle]="{
              color: this.orderTypeFocus('brf') ? 'black' : 'gray'
            }"
          ></ion-icon>
        </th>

        <th style="width: 18%">
          OBSERVATION
        </th>
        <th style="width: 4.1%">
          <ion-icon name="reverse-camera"></ion-icon>
        </th>
      </tr>
      <tr
        [attachOutsideOnClick]="true"
        (clickOutside)="onAddClickOutside()"
        (click)="onAddClick()"
      >
        <td class="tdInput">
          <input
            (input)="OnSearch(inputSrch.value)"
            type="text"
            style="width : 100%"
            name="libelle"
            (focus)="onFocusInputSearch(list)"
            (blur)="onBlurInputSearch(list)"
            placeholder="DESIGNATION"
            required
            #inputSrch
            ngModel
          />
          <div hidden="true" #list class="div-list">
            <div
              class="div-detail"
              (click)="OnSelectMateriel(mat)"
              *ngFor="let mat of materielsShow; let j = index"
            >
              <span class="span-detail">
                {{ mat.designation }}
              </span>
              <input
                hidden
                name="idArticle"
                list="fournisseurs"
                [ngModel]="mat.id"
                ngModel
              />
            </div>
          </div>
        </td>
        <td class="tdInput">
          <input readonly type="text" name="unite" ngModel />
        </td>

        <td class="tdInput">
          <input
            type="time"
            name="tempsDebut"
            placeholder="debut"
            ngModel
            required
            #tempsDebut
          />
        </td>
        <td class="tdInput">
          <input
            type="time"
            name="tempsFin"
            placeholder="fin"
            ngModel
            #tempsFin
          />
        </td>
        <td class="tdInput">
          <input
            type="text"
            name="quantite"
            readonly
            placeholder="quantite"
            ngModel
          />
        </td>

        <td class="tdInput">
          <input
            disabled
            placeholder="FOUR."
            name="fournisseurNom"
            required
            ngModel
            (input)="OnSearchFournisseur(matFrInputAdd.value)"
            (focus)="listfr.hidden = false"
            (blur)="onBlurAddFr(listfr)"
            type="text"
            #matFrInputAdd
          />
          <div #listfr hidden="false" class="div-list-fr">
            <div
              (click)="onSelectAddFr(fournisseur.fournisseurNom)"
              *ngFor="let fournisseur of fournisseurs"
              style="border: 1px solid rgb(0, 0, 0);
            ;width : 100%"
            >
              <span>{{ fournisseur.fournisseurNom }}</span>
            </div>
          </div>
        </td>
        <td class="tdInput">
          <input placeholder="BRF" name="brf" ngModel type="text" />
        </td>
        <td class="tdInput">
          <input
            type="text"
            name="observation"
            placeholder="observation"
            ngModel
          />
        </td>
        <td class="tdInput"></td>
      </tr>
      <!--**************************************************************************************************************************************-->
      <ng-container *ngIf="designtions?.length > 0; else elseTemplate">
        <tr
          [ngStyle]="{
            'background-color':
              this.dsID == locDs.id ? 'rgba(255, 0, 0, 0.1)' : '',
            'border-bottom': locDs.tempsFin ? null : '2px solid red'
          }"
          (press)="OnDeleteDs(locDs.id)"
          *ngFor="let locDs of designtions; let i = index"
          [attachOutsideOnClick]="true"
          (clickOutside)="onUpdateClickedOutside(i, locDs.id)"
          (click)="onUpdateClick(i, locDs.id, inputUpdateSrch.value, locDs)"
        >
          <td>
            <input
              disabled
              [ngModel]="locDs.libelle"
              (input)="OnSearchUpdate(inputUpdateSrch.value)"
              type="text"
              style="width : 100%;"
              name="libelle{{ locDs.id }}"
              (focus)="onFocusUpdateInputSearch(listUpdate, locDs.libelle)"
              (blur)="onBlurUpdateInputSearch(listUpdate, i, locDs.id)"
              placeholder="DESIGNATION"
              required
              #inputUpdateSrch
              ngModel
            />
            <div #listUpdate hidden class="div-list">
              <div
                class="div-detail"
                (click)="listUpdate.hidden = true"
                style="font-weight:bold;font-style:italic"
              >
                <span class="span-detail">
                  {{ locDs.libelle }}
                </span>
              </div>
              <div
                class="div-detail"
                (click)="OnSelectUpdate(mat, i, locDs.id)"
                *ngFor="let mat of materielsShow; let j = index"
              >
                <span class="span-detail">
                  {{ mat.designation }}
                </span>
              </div>
            </div>
          </td>
          <td>
            <input
              [ngModel]="locDs.unite"
              disabled
              readonly
              type="text"
              name="unite{{ locDs.id }}"
              ngModel
            />
          </td>
          <td>
            <input
              disabled
              [ngModel]="locDs.tempsDebut"
              [type]="this.dsID == locDs.id ? 'time' : 'text'"
              name="tempsDebut{{ locDs.id }}"
              placeholder="debut"
              required
              ngModel
              #tempsDebutUpt
            />
          </td>
          <td>
            <input
              disabled
              [ngModel]="locDs.tempsFin"
              [type]="this.dsID == locDs.id ? 'time' : 'text'"
              name="tempsFin{{ locDs.id }}"
              placeholder="fin"
              ngModel
              #tempsFinUpt
            />
          </td>
          <td>
            <input
              readonly
              [ngModel]="locDs.travailleLoc | minToHrs: 'M'"
              type="text"
              name="quantite{{ locDs.id }}"
              placeholder="quantite"
              ngModel
            />
          </td>

          <td>
            <input
              placeholder="FOUR."
              name="fournisseurNom{{ locDs.id }}"
              (focus)="onUpdateFournisseurFocus(listfrUpdate)"
              (input)="OnSearchFournisseur(matFrInput.value)"
              [ngModel]="locDs.fournisseurNom"
              (blur)="onUpdateFournisseurBlur(listfrUpdate)"
              type="text"
              disabled
              required
              ngModel
              #matFrInput
            />
            <div #listfrUpdate hidden="false" class="div-list-fr">
              <div
                *ngIf="Show"
                (click)="listfrUpdate.hidden = true"
                style="font-weight:bold;font-style:italic;width : 100% ; border: 1px solid rgb(0, 0, 0)"
              >
                <span>{{ locDs.fournisseurNom }}</span>
              </div>
              <div
                (click)="onSelectUpdateFr(fournisseur.fournisseurNom, locDs.id)"
                *ngFor="let fournisseur of fournisseurs"
                style="border: 1px solid rgb(0, 0, 0);
              ;width : 100%"
              >
                <span>{{ fournisseur.fournisseurNom }}</span>
              </div>
            </div>
          </td>
          <td>
            <input
              disabled
              [ngModel]="locDs.brf"
              type="text"
              name="brf{{ locDs.id }}"
              placeholder="BRF"
              ngModel
            />
          </td>
          <td>
            <input
              disabled
              [ngModel]="locDs.observation"
              type="text"
              name="observation{{ locDs.id }}"
              placeholder="observation"
              ngModel
            />
          </td>
          <td></td>
        </tr>
      </ng-container>
      <ng-template #elseTemplate>
        <tr style="text-align: center ; font-style: italic">
          <td colspan="9">rien a signaler jusqu'au moment</td>
        </tr>
      </ng-template>
    </table>
  </form>
</div>
