<div class="container">
  <app-dialog *ngIf="showAlert" (OnCtn)="onDelete()" (Cancel)="onHideAlert()">
    {{ errorMsg }}
  </app-dialog>
  <form #f="ngForm" (ngSubmit)="OnSubmitForm()">
    <div class="header-title">
      <span class="left"><ion-icon name="arrow-round-up"></ion-icon> </span>

      <span class="middle">ARTICLE</span>

      <span class="left" (click)="OnCancel()">
        <ion-icon name="arrow-round-up"></ion-icon>
      </span>
    </div>
    <table>
      <tr class="header">
        <th class="case-left">
          DESIGNATION
        </th>
        <th class="case-middle">
          UNITE
        </th>
        <th class="case-right">
          STOCKABLE
        </th>
      </tr>

      <tr>
        <td colspan="3">
          <div *ngFor="let cat of categories; let i = index">
            <div
              (clickOutside)="
                onClickOutsideCategorieUpdateInput(i, catUpdateInput)
              "
              (click)="onClickCategorieUpdateInput(i, catUpdateInput)"
              [ngStyle]="{
                'background-color': CatIndex == i ? 'rgba(255, 0, 0, 0.1)' : ''
              }"
              class="cont_div"
            >
              <span
                (press)="OnDeleteCategorie(cat)"
                style="width: 70%;text-align: left"
              >
                <input
                  disabled
                  type="text"
                  [ngModel]="cat.categorie"
                  name="categorie{{ i }}"
                  #catUpdateInput
                  ngModel
                />
              </span>
              <span
                style="font-style: oblique;display: inline-block;width: 25%;text-align: right"
                (click)="onShowDetails(i)"
              >
                {{ cat.articles.length }}
                <span [innerHTML]="showDetails[i] ? '>' : '<'"></span>
              </span>
            </div>
            <!--****************************detail***************************-->
            <div #detail *ngIf="showDetails[i]">
              <div
                (press)="OnDeleteArticle(article)"
                (clickOutside)="onClickOutsideArticleUpdateInput(i, j)"
                (click)="onClickArticleUpdateInput(i, j)"
                *ngFor="let article of cat.articles; let j = index"
                class="cont_div"
              >
                <span class="case-left">
                  <input
                    disabled
                    class="article_input"
                    type="text"
                    required
                    name="designation{{ i }}{{ j }}"
                    [ngModel]="article.designation"
                    ngModel
                  />
                </span>
                <span class="case-middle">
                  <input
                    disabled
                    (focus)="onFocusUniteInput(detail)"
                    (blur)="onBlurUniteInput(detail)"
                    type="text"
                    #uniteInput
                    [ngModel]="article.unite"
                    name="unite{{ i }}{{ j }}"
                    required
                    placeholder="unite"
                    ngModel
                  />

                  <div hidden="true" class="div-list" #detail>
                    <div
                      (click)="onSelectUnite(unite, i, j)"
                      *ngFor="let unite of unites"
                      class="div-detail"
                    >
                      {{ unite }}
                    </div>
                  </div>
                </span>
                <span class="case-right">
                  <ion-checkbox
                    disabled
                    ngModel
                    name="stockable{{ i }}{{ j }}"
                    [ngModel]="article.stockable"
                  ></ion-checkbox>
                </span>
              </div>
              <!--***********************************ADDING FORM****************************-->
              <div
                (clickOutside)="onAddArticleClickOutside(i, cat.id)"
                (click)="onAddArticleClick(i)"
                style="  background-color: rgba(255, 0, 0, 0.1);"
                class="cont_div"
              >
                <span class="case-left">
                  <input
                    type="text"
                    class="article_input"
                    placeholder="DESIGNATION"
                    name="designation{{ i }}"
                    required
                    ngModel
                  />
                </span>
                <span class="case-middle">
                  <input
                    (focus)="onFocusUniteInput(detailAdd)"
                    (blur)="onBlurUniteInput(detailAdd)"
                    type="text"
                    #uniteInput
                    name="unite{{ i }}"
                    required
                    placeholder="unite"
                    ngModel
                  />
                  <div hidden="false" class="div-list" #detailAdd>
                    <div
                      (press)="OnDeleteUnite(unite)"
                      (click)="onSelectAddUnite(unite, i)"
                      *ngFor="let unite of unites"
                      class="div-detail"
                    >
                      {{ unite }}
                    </div>
                  </div>
                </span>
                <span class="case-right">
                  <ion-checkbox
                    [ngModel]="0"
                    name="stockable{{ i }}"
                    ngModel
                  ></ion-checkbox>
                </span>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr (clickOutside)="onAddCategorie(catInput.value)">
        <td colspan="3">
          <input
            class="tdInput"
            type="text"
            name="cat"
            placeholder="CATEGORIE"
            #catInput
            ngModel
          />
        </td>
      </tr>
    </table>
  </form>
</div>
