<div *ngIf="showHeader" class="header">
  <label for="file" class="left"
    ><ion-icon name="download">
      <input
        type="file"
        id="file"
        (change)="getFile($event)"
        style="visibility: hidden;"
      />
    </ion-icon>
  </label>

  <span class="middle">{{ headerTitle }}</span>

  <span class="left" (click)="OnCancel()">
    <ion-icon name="arrow-round-up"></ion-icon>
  </span>
</div>

<table style="width:100%">
  <tr>
    <th *ngFor="let element of column; let first = first; let last = last">
      {{ element }}
    </th>
  </tr>
  <ng-content></ng-content>
</table>
