<div class="container">
  <div></div>
  <div class="content">
    <div class="header">
      <img src="../../assets/logo.png" />
      <div style="margin-top: 15px">
        <label style="font-style: italic">Username :</label>
        <label style="margin-left: 2px">{{ username }}</label>
      </div>
      <div style="margin-top: 10px">
        <label style="font-style: italic">Role :</label>
        <label style="margin-left: 2px">{{ currentRole }}</label>
      </div>

      <label class="exit" (click)="OnHide()"> × </label>
    </div>
    <ul class="links">
      <li class="link">
        <img src="../../assets/home.png" />
        <label style="font-size: 12px">
          <a href="" routerLink="/">ACCUEIL</a>
        </label>
      </li>
      <li *ngIf="isRoot" class="link">
        <img src="../../assets/user.png" />
        <label style="font-size: 12px">
          <a href="" routerLink="/utilisateur">GESTION DES UTILISATEURS</a>
        </label>
      </li>
      <li *ngIf="isRoot" class="link">
        <img src="../../assets/docu.png" />
        <label style="font-size: 12px">
          <a href="" routerLink="/projet">GESTION DES PROJETS</a>
        </label>
      </li>
    </ul>
  </div>
</div>
