<div HeightList class="scrol_cont">
  <app-dialog *ngIf="showAlert" (OnCtn)="onContinue()" (Cancel)="onHideAlert()">
    {{ errorMsg }}
  </app-dialog>
  <form
    *ngIf="listerOuvrier"
    (ngSubmit)="isUpdate === 1 ? OnUpdateOuvrier() : OnAddOuvrier()"
    #f="ngForm"
  >
    <div class="header-title">
      <label for="file" class="left"
        ><ion-icon name="download">
          <input
            type="file"
            id="file"
            (change)="getFile($event)"
            style="visibility: hidden;"
          />
        </ion-icon>
      </label>

      <span class="middle">LISTE DES OUVRIERS </span>

      <span class="left">
        <ion-icon name="arrow-round-up"></ion-icon>
      </span>
    </div>
    <table style="width:100% ;">
      <tr>
        <th Style="width: 12%">
          <input
            type="text"
            placeholder="NOM"
            name="nom$"
            ngModel
            #onom
            style="width: 80%"
          />
          <ion-icon
            [ngStyle]="{
              color: orderTypeFocus('nom') ? 'black' : 'rgba(61, 61, 61, 0.815)'
            }"
            [name]="orderByType('nom') ? 'arrow-round-down' : 'arrow-round-up'"
            (click)="onSort('nom', false)"
          ></ion-icon>
        </th>
        <th Style="width: 11%">
          <input
            name="prenom$"
            ngModel
            type="text"
            placeholder="PRENOM"
            #oprenom
            style="width: 80%"
          />
          <ion-icon
            [ngStyle]="{
              color: this.orderTypeFocus('prenom')
                ? 'black'
                : 'rgba(61, 61, 61, 0.815)'
            }"
            [name]="
              orderByType('prenom') ? 'arrow-round-down' : 'arrow-round-up'
            "
            (click)="onSort('prenom', false)"
          ></ion-icon>
        </th>
        <th Style="width: 9%">
          <input
            type="text"
            name="cin$"
            ngModel
            placeholder="CIN"
            #ocin
            style="width: 80%"
          />
          <ion-icon
            [ngStyle]="{
              color: orderTypeFocus('cin') ? 'black' : 'rgba(61, 61, 61, 0.815)'
            }"
            [name]="orderByType('cin') ? 'arrow-round-down' : 'arrow-round-up'"
            (click)="onSort('cin', false)"
          ></ion-icon>
        </th>
        <th Style="width: 8%">
          <input
            type="text"
            name="ville$"
            ngModel
            placeholder="VILLE"
            #oville
            style="width: 80%"
          />
          <ion-icon
            [ngStyle]="{
              color: orderTypeFocus('ville')
                ? 'black'
                : 'rgba(61, 61, 61, 0.815)'
            }"
            [name]="
              orderByType('ville') ? 'arrow-round-down' : 'arrow-round-up'
            "
            (click)="onSort('ville', false)"
          ></ion-icon>
        </th>

        <th Style="width: 15%">
          <input
            type="text"
            name="qualification$"
            placeholder="QUALIFICATION"
            #oqual
            style="width: 80%"
            ngModel
          />
          <ion-icon
            [ngStyle]="{
              color: orderTypeFocus('qualification')
                ? 'black'
                : 'rgba(61, 61, 61, 0.815)'
            }"
            [name]="
              orderByType('qualification')
                ? 'arrow-round-down'
                : 'arrow-round-up'
            "
            (click)="onSort('qualification', false)"
          ></ion-icon>
        </th>
        <th Style="width: 6%">
          AGE
          <ion-icon
            [ngStyle]="{
              color: orderTypeFocus('dateNaissance')
                ? 'black'
                : 'rgba(61, 61, 61, 0.815)'
            }"
            [name]="
              orderByType('dateNaissance')
                ? 'arrow-round-down'
                : 'arrow-round-up'
            "
            (click)="onSort('dateNaissance', false)"
          ></ion-icon>
        </th>
        <th Style="width: 11%">
          ANCIENTÉ
          <ion-icon
            [ngStyle]="{
              color: orderTypeFocus('dateRecrutement')
                ? 'black'
                : 'rgba(61, 61, 61, 0.815)'
            }"
            [name]="
              orderByType('dateRecrutement')
                ? 'arrow-round-down'
                : 'arrow-round-up'
            "
            (click)="onSort('dateRecrutement', false)"
          ></ion-icon>
        </th>
        <th Style="width: 4%;padding-top: 9px">
          TRV
        </th>
        <th Style="width: 9% ; padding-top: 10px;">
          TELE
        </th>
        <th Style="width: 8%">
          <input
            [ngStyle]="{
              color:
                typeAsc === 'appreciation' ? 'black' : 'rgba(61, 61, 61, 0.815)'
            }"
            type="text"
            name="appreciation$"
            placeholder="APREC."
            #oapp
            style="width: 80%"
            ngModel
          />
          <ion-icon
            [ngStyle]="{
              color: orderTypeFocus('appreciation')
                ? 'black'
                : 'rgba(61, 61, 61, 0.815)'
            }"
            [name]="
              orderByType('appreciation')
                ? 'arrow-round-down'
                : 'arrow-round-up'
            "
            (click)="onSort('appreciation', false)"
          ></ion-icon>
        </th>
      </tr>

      <tr
        [attachOutsideOnClick]="true"
        (clickOutside)="onAddClickOutside()"
        (click)="onAddClick()"
      >
        <td class="tdInput">
          <input type="text" name="nom" placeholder="NOM" required ngModel />
        </td>
        <td class="tdInput">
          <input
            type="text"
            name="prenom"
            placeholder="PRENOM"
            required
            ngModel
          />
        </td>
        <td class="tdInput">
          <input type="text" name="cin" placeholder="CIN" required ngModel />
        </td>
        <td class="tdInput">
          <input
            (focus)="onFocusVilleInput(villeListAdd)"
            (blur)="onBlurVilleInput(villeListAdd)"
            (input)="onVilleSearch(villeInputAdd.value)"
            #villeInputAdd
            type="text"
            name="ville"
            placeholder="VILLE"
            required
            ngModel
          />
          <div hidden="false" class="div-list" #villeListAdd>
            <div
              (press)="onLongPressVille(v)"
              (click)="onSelectVille(v)"
              *ngFor="let v of villes; let i = index"
              class="div-detail"
            >
              {{ v }}
            </div>
          </div>
        </td>

        <td class="tdInput">
          <input
            (focus)="onFocusQualificationInput(detail)"
            (blur)="onBlurQualificationInput(detail)"
            (input)="onQualificationSearch(qualInput.value)"
            type="text"
            #qualInput
            name="qual"
            required
            placeholder="QUALIFICATION"
            ngModel
          />

          <div hidden="false" class="div-list" #detail>
            <div
              (press)="onLongPressQualification(qual)"
              (click)="onSelectQualification(qual)"
              *ngFor="let qual of qualifications; let i = index"
              class="div-detail"
            >
              {{ qual }}
            </div>
          </div>
        </td>
        <td class="tdInput">
          <input
            max="{{ dateAgeMax }}"
            [type]="isFocus ? 'date' : 'text'"
            (focus)="isFocus = true"
            (blur)="isFocus = false"
            name="age"
            placeholder="mm/dd/yyyy"
            required
            ngModel
          />
        </td>
        <td class="tdInput">
          <input
            max="{{ DateAcntMax }}"
            [type]="isFocus$ ? 'date' : 'text'"
            (focus)="isFocus$ = true"
            (blur)="isFocus$ = false"
            name="ancienter"
            placeholder="mm/dd/yyyy"
            required
            ngModel
          />
        </td>
        <td class="tdInput">
          <input readonly type="text" name="TRV" placeholder="TRV" ngModel />
        </td>
        <td class="tdInput">
          <input type="tel" name="tele" placeholder="TELE" required ngModel />
        </td>
        <td class="tdInput">
          <input
            (focus)="onFocusApprecInput(aprecListAdd)"
            (blur)="onBlurApprecInput(aprecListAdd)"
            (input)="onApprecSearch(aprecInputAdd.value)"
            type="text"
            #aprecInputAdd
            name="appreciation"
            placeholder="APREC."
            ngModel
          />

          <div hidden="false" class="div-list" #aprecListAdd>
            <div
              (press)="onLongPressApprec(aprc)"
              (click)="onSelectApprec(aprc)"
              *ngFor="let aprc of apprecs; let i = index"
              class="div-detail"
            >
              {{ aprc }}
            </div>
          </div>
        </td>
      </tr>

      <!-- ****************************************************************************/-->

      <ng-container *ngFor="let ouv of ouvriers">
        <tr
          (press)="onLongPress(ouv.id)"
          [ngStyle]="{
            'background-color':
              this.focusID == ouv.id ? 'rgba(255, 0, 0, 0.1)' : '',
            'font-weight': ouv.isAsso ? 'bold' : 'normal'
          }"
          (dblclick)="addOuvToProjets(ouv.id)"
          [attachOutsideOnClick]="true"
          (clickOutside)="onUpdateClickedOutside(ouv.id)"
          (click)="onUpdateClick(ouv.id)"
        >
          <td class="">
            <input
              disabled
              type="text"
              name="nom{{ ouv.id }}"
              [ngModel]="ouv.nom"
              placeholder="nom"
              required
              ngModel
            />
          </td>
          <td class="">
            <input
              disabled
              type="text"
              name="prenom{{ ouv.id }}"
              [ngModel]="ouv.prenom"
              placeholder="prenom"
              required
              ngModel
            />
          </td>

          <td class="">
            <input
              disabled
              type="text"
              name="cin{{ ouv.id }}"
              required
              [ngModel]="ouv.cin"
              ngModel
            />
          </td>
          <td class="" style="position : relative">
            <input
              disabled
              (focus)="onFocusVilleInput(villesListUpdt)"
              (blur)="onBlurVilleInput(villesListUpdt)"
              (input)="onVilleSearch(villeInputUpdt.value)"
              type="text"
              #villeInputUpdt
              name="ville{{ ouv.id }}"
              [ngModel]="ouv.ville"
              required
              ngModel
            />
            <div hidden="false" class="div-list" #villesListUpdt>
              <div
                (press)="onLongPressVille(v)"
                (click)="onSelectVilleUpdate(v, ouv.id)"
                *ngFor="let v of villes; let i = index"
                class="div-detail"
              >
                {{ v }}
              </div>
            </div>
          </td>
          <td class="" style="position: relative">
            <input
              disabled
              (focus)="onFocusQualUpdateInput(qualif)"
              (blur)="onBlurQualUpdateInput(qualif)"
              (input)="onQualificationSearch(qualUpdateInput.value)"
              ngModel="{{ ouv.qualification }}"
              type="text"
              #qualUpdateInput
              name="qual{{ ouv.id }}"
              required
              placeholder="qualification"
              ngModel
            />
            <div hidden="false" class="div-list" #qualif>
              <div
                (press)="onLongPressQualification(item)"
                (click)="onSelectQualUpdate(item, ouv.id)"
                *ngFor="let item of qualifications"
                class="div-detail"
              >
                {{ item }}
              </div>
            </div>
          </td>
          <td class="">
            <input
              [ngStyle]="{
                display: this.focusID == ouv.id ? 'block' : 'none'
              }"
              max="{{ dateAgeMax }}"
              type="date"
              name="age{{ ouv.id }}"
              placeholder="age"
              required
              ngModel="{{ ouv.dateNaissance }}"
              #dateNss
              ngModel
            />
            <span
              (blur)="dateNss.focus()"
              tabindex="1"
              [ngStyle]="{
                display: this.focusID != ouv.id ? 'block' : 'none'
              }"
            >
              {{ dateNss.value | diffFromNow: "age" }}
            </span>
          </td>
          <td class="">
            <input
              disabled
              [ngStyle]="{
                display: this.focusID == ouv.id ? 'block' : 'none'
              }"
              max="{{ DateAcntMax }}"
              autofocus
              type="date"
              name="ancienter{{ ouv.id }}"
              placeholder="ancienter"
              required
              [ngModel]="ouv.dateRecrutement"
              #dateRec
              ngModel
            />
            <span
              style="text-align: right ; padding-right: 10px"
              (blur)="dateRec.focus()"
              tabindex="1"
              [ngStyle]="{
                display: this.focusID != ouv.id ? 'block' : 'none'
              }"
            >
              {{ dateRec.value | diffFromNow: "" }}
            </span>
          </td>
          <td class="">
            <input
              style="text-align: center"
              readonly
              type="text"
              name="J_TRV{{ ouv.id }}"
              [ngModel]="ouv.j_trv"
              placeholder="TRV"
              ngModel
            />
          </td>
          <td class="">
            <input
              disabled
              type="tel"
              name="tele{{ ouv.id }}"
              [ngModel]="ouv.tele"
              placeholder="telephone"
              ngModel
            />
          </td>
          <td class="" style="position: relative;">
            <input
              (focus)="onFocusApprecInput(aprecListupdt)"
              (blur)="onBlurApprecInput(aprecListupdt)"
              (input)="onApprecSearch(aprecInputupdt.value)"
              disabled
              type="text"
              name="appreciation{{ ouv.id }}"
              [ngModel]="ouv.appreciation"
              placeholder="APPREC."
              #aprecInputupdt
              ngModel
            />
            <div hidden="false" class="div-list" #aprecListupdt>
              <div
                (press)="onLongPressApprec(aprc)"
                (click)="onSelectApprecUpdate(aprc, ouv.id)"
                *ngFor="let aprc of apprecs; let i = index"
                class="div-detail"
              >
                {{ aprc }}
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </table>
  </form>
</div>
