.Alert-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;

  background-color: rgba(0, 0, 0, 0.4);
}

.lds-ripple {
  display: inline-block;
  position: relative;
  top: 30%;
  left: 45%;
  width: 100px;
  height: 100px;
}
.lds-ripple {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
