.container {
  padding-bottom: 20px;
  height: 100%;
  width: 40%;
  position: relative;
  font-size: 12px;
  display: inline-block;
  overflow: scroll;
}
.div-list {
  width: 98%;
  background-color: white;
  position: absolute;
  z-index: 2;
  border: 1px solid;
  height: 70px;
  overflow: auto;
}
.span-detail {
  border: 1px solid gray;
  display: inline-block;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
  border-left: none;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
  border-right: none;
}
tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
td {
  width: 20x;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px rgba(255, 255, 255, 0.5);
}
td:focus {
  border: none;
}
input {
  width: 100%;
  background: transparent;
  border: none;
}

.tdInput {
  position: sticky;
  top: 45px;
  background-color: rgb(216, 194, 164);
}

.middle {
  text-align: center;
  height: 25px;
  width: 80%;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}
.left {
  height: 25px;
  width: 10%;
  display: inline-block;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 2px #f25454 solid;
}
ion-icon {
  margin-top: 5px;
}
.header-title {
  height: 25px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 3;
  width: 100%;
  display: inline-block;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgba(189, 185, 167, 0.904);
}

.header {
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}
th {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  z-index: 3;
  position: sticky;
  top: 25px;
  background-color: rgba(255, 255, 255);
  text-align: center;
  overflow-wrap: break-word;
}

table {
  width: 100%;
  border-collapse: collapse;
}
