<div class="container">
  <app-dialog *ngIf="showAlert" (OnCtn)="onCtnAlert()" (Cancel)="onHideAlert()">
    {{ errorMsg }}
  </app-dialog>
  <form #f="ngForm">
    <div class="header-title">
      <label for="file" class="left"
        ><ion-icon name="download">
          <input type="file" id="file" style="visibility: hidden;" />
        </ion-icon>
      </label>

      <span class="middle">LISTE DES MATERIELS </span>

      <span class="left">
        <ion-icon name="arrow-round-up"></ion-icon>
      </span>
    </div>
    <table>
      <tr class="header">
        <th>
          <input
            [ngStyle]="{
              color: isSearch ? 'black' : 'rgba(61, 61, 61, 0.815)'
            }"
            (focus)="onFilterFocus()"
            (input)="onFilterByMateriel(false)"
            type="text"
            placeholder="MATERIEL"
            #keyWord
            style="width: 80%"
          />
          <ion-icon
            [name]="ascendant == true ? 'arrow-round-down' : 'arrow-round-up'"
            (click)="onSort()"
          ></ion-icon>
        </th>
      </tr>

      <tr (click)="onClickAddMateriel(matDs)">
        <td class="tdInput">
          <input
            [disabled]="this.matSelectedId !== -1 ? true : false"
            type="text"
            name="ds"
            (blur)="OnBlurAddMateriel(matDs, list)"
            (input)="OnInputAssoMaterielToFournisseur(matDs.value)"
            (focus)="OnFocusAssoMaterielToFournisseur(list)"
            placeholder="DESIGNATION"
            #matDs
          />
          <!-- DropDown -->
          <div #list hidden class="div-list">
            <div
              class="div-detail"
              *ngFor="let mat of materielsNotAsso"
              style="width : 100%"
              (click)="OnAssoMaterielToFournisseur(matDs, mat)"
            >
              <span class="span-detail" style="width:100%">
                {{ mat.designation }}
              </span>
            </div>
          </div>
        </td>
      </tr>

      <ng-container *ngIf="materiels.length !== 0; else nodisp">
        <tr
          (dblclick)="onAssoMaterielFournisseurToProjet(materiel.id)"
          (press)="OnDeleteMaterielOrDesAssoMaterielToFournisseur(materiel.id)"
          (click)="OnClickUpdateMateriel(dsInput, materiel)"
          [attachOutsideOnClick]="true"
          (clickOutside)="OnClickOutsideUpdateMateriel(dsInput)"
          *ngFor="let materiel of materiels; let i = index"
          [ngStyle]="{
            'background-color':
              matSelectedId === materiel.id ? 'rgba(255, 0, 0, 0.1)' : '',
            'font-weight': materiel.isAssoWithProjet ? 'bold' : 'normal'
          }"
        >
          <td style="text-align: left;">
            <input
              style="width: 80%"
              disabled="true"
              type="text"
              (blur)="
                OnUpdateMateriel(
                  dsInput.value,
                  materiel.id,
                  materiel.designation
                )
              "
              name="ds{{ materiel.id }}"
              [ngModel]="materiel.designation"
              ngModel
              #dsInput
            />
            <span style="font-style: oblique">
              {{ materiel.fourIndicator }}
            </span>
          </td>
        </tr>
      </ng-container>
      <ng-template #nodisp>
        <tr
          [ngStyle]="{
            'background-color': matId === -2 ? 'rgba(255, 0, 0, 0.1)' : '',
            'text-align': 'center',
            'font-style': 'italic'
          }"
        >
          <td>
            fournisseur sans materiels
          </td>
        </tr>
      </ng-template>
    </table>
  </form>
</div>
