<div class="container">
  <ng-container *ngIf="role === 'USER' || isRoot; else elseTmp">
    <ng-container *ngIf="!isValid; else elseTemplate">
      <app-document-designation></app-document-designation>
    </ng-container>
    <ng-template #elseTemplate>
      <app-document-designation-valide></app-document-designation-valide>
    </ng-template>
  </ng-container>
  <ng-template #elseTmp>
    <app-document-designation-valide></app-document-designation-valide>
  </ng-template>

  <div *ngIf="role === 'ADMIN' || isRoot" class="separate">
    <app-document></app-document>
  </div>
</div>
