<div style="height: 100%;" class="container">
  <ng-container *ngIf="role === 'USER' || isRoot; else elseTmp">
    <ng-container *ngIf="!isValid; else elseTemplate">
      <app-fiche-location-desgnation></app-fiche-location-desgnation>
    </ng-container>
    <ng-template #elseTemplate>
      <app-fiche-valide-location-desgnation></app-fiche-valide-location-desgnation>
    </ng-template>
  </ng-container>
  <ng-template #elseTmp>
    <app-fiche-valide-location-desgnation></app-fiche-valide-location-desgnation>
  </ng-template>

  <div style="height:45px "></div>

  <div
    HeightList
    *ngIf="(role === 'ADMIN' || isRoot) && lister"
    style="margin-bottom: 28px"
  >
    <app-materiel></app-materiel>
    <app-fournisseur></app-fournisseur>
  </div>
</div>
