<div class="container">
  <ng-container *ngIf="role === 'USER' || isRoot; else elseTmp">
    <ng-container *ngIf="!isValid; else elseTemplate">
      <app-fiche-location-desgnation></app-fiche-location-desgnation>
    </ng-container>
    <ng-template #elseTemplate>
      <app-fiche-valide-location-desgnation></app-fiche-valide-location-desgnation>
    </ng-template>
  </ng-container>
  <ng-template #elseTmp>
    <app-fiche-valide-location-desgnation></app-fiche-valide-location-desgnation>
  </ng-template>

  <div *ngIf="(role === 'ADMIN' || isRoot) && lister" class="separate">
    <app-materiel></app-materiel>
    <app-fournisseur></app-fournisseur>
  </div>
</div>
