<div (onclick)="click()" class="container">
  <app-dialog *ngIf="showAlert" (OnCtn)="onContinue()" (Cancel)="onHideAlert()">
    {{ errorMsg }}
  </app-dialog>
  <form
    (ngSubmit)="
      update === 1
        ? OnUpdateVisiteurDesignation(id)
        : OnAddVisiteurDesignation()
    "
    #f="ngForm"
  >
    <div class="header-nav">
      <span class="left" (click)="onPrevious()"
        ><ion-icon name="arrow-dropleft"></ion-icon>
      </span>

      <span class="middle"> FICHE LOCATION : {{ position }}/{{ size }}</span>

      <span class="left" (click)="onNext()">
        <ion-icon name="arrow-dropright"></ion-icon>
      </span>
    </div>
    <table>
      <tr class="header">
        <th style="width: 15%">
          <input
            (input)="onFilter()"
            type="text"
            placeholder="NOM & PRENOM"
            name="nom$"
            ngModel
            style="width: 100%"
          />
        </th>
        <th style="width: 15%">
          <input
            (input)="onFilter()"
            type="text"
            placeholder="ORGANISME"
            name="organisme$"
            ngModel
            style="width: 100%"
          />
        </th>
        <th style="width: 25%">
          OBJET
        </th>
        <th style="width: 7%">
          DEBUT
        </th>
        <th style="width: 14%">
          DEBUT_SYS
        </th>
        <th style="width: 7%">
          FIN
        </th>
        <th style="width: 14%">
          FIN_SYS
        </th>
      </tr>
      <tr
        (click)="onAddClick()"
        (clickOutside)="onAddClickOutside(nom, org)"
        class="inputs"
      >
        <td class="tdInput">
          <input
            type="text"
            required
            name="nom"
            placeholder="NOM & PRENOM"
            ngModel
            (focus)="onFocusAddInputVisiteur(vistList)"
            (blur)="onBlurAddInputVisiteur(vistList)"
            (input)="onSearchVisiteur(vst.value)"
            #vst
          />
          <input type="text" value="-1" hidden name="visiteurId" ngModel />
          <div hidden #vistList style="width :39%" class="div-list">
            <div
              *ngFor="let item of visiteursAsso"
              (click)="OnVisiteurSelected(item)"
            >
              <span class="border-case-black" style="width: 50%">{{
                item.nom
              }}</span>
              <span class="border-case-black" style="width: 50%">{{
                item.organisme
              }}</span>
            </div>
          </div>
        </td>
        <td class="tdInput">
          <input type="text" name="organisme" placeholder="ORGANISME" ngModel />
        </td>
        <td class="tdInput">
          <input type="text" name="objet" placeholder="OBJET" ngModel />
        </td>
        <td class="tdInput">
          <input
            type="time"
            name="debut"
            placeholder="DEBUT"
            ngModel
            required
          />
        </td>
        <td class="tdInput">
          <input type="text" name="debut_sys" [(ngModel)]="debut" ngModel />
        </td>
        <td class="tdInput">
          <input
            type="time"
            name="fin"
            (input)="onInputFin()"
            placeholder="FIN"
            ngModel
          />
        </td>
        <td class="tdInput">
          <input type="text" name="fin_sys" ngModel [(ngModel)]="fin" />
        </td>
      </tr>
      <!--*****************************************************************************************************-->
      <tr
        [ngStyle]="{
          'background-color':
            selectedDsId === item.id ? 'rgba(255, 0, 0, 0.1)' : ''
        }"
        (press)="onDeleteVisiteurDesignation(item.id)"
        (click)="onUpdateClick(item.id)"
        (clickOutside)="onUpdateClickOutside(item.id)"
        *ngFor="let item of designation; let i = index"
      >
        <td>
          <input
            disabled
            type="text"
            name="nom{{ item.id }}"
            [ngModel]="item.nom"
            placeholder="NOM & PRENOM"
            (input)="onSearchVisiteur(vstU.value)"
            ngModel
            (focus)="onFocusUpdateInputVisiteur(vistListU, item.nom)"
            (blur)="onBlurUpdateInputVisiteur(vistListU)"
            #vstU
          />
          <input
            type="text"
            [ngModel]="item.visiteurId"
            hidden
            name="visiteurId{{ item.id }}"
            ngModel
          />
          <div hidden #vistListU style="width :49%" class="div-list">
            <div
              *ngFor="let item of visiteursAsso; let j = index"
              (click)="OnVisiteurSelectedUpdate(item, i)"
            >
              <span class="border-case-black" style="width: 50%">{{
                item.nom
              }}</span>
              <span class="border-case-black" style="width: 50%">{{
                item.organisme
              }}</span>
            </div>
          </div>
        </td>
        <td>
          <input
            disabled
            type="text"
            [ngModel]="item.organisme"
            name="organisme{{ item.id }}"
            placeholder="ORGANISME"
            ngModel
          />
        </td>
        <td>
          <input
            disabled
            type="text"
            name="objet{{ item.id }}"
            [ngModel]="item.objet"
            placeholder="OBJET"
            ngModel
          />
        </td>
        <td>
          <input
            disabled
            [type]="selectedDsId === item.id ? 'time' : 'text'"
            [ngModel]="item.debut"
            name="debut{{ item.id }}"
            placeholder="DEBUT"
            ngModel
          />
        </td>
        <td>
          <input
            readonly
            [type]="text"
            [ngModel]="item.debut_sys"
            name="debut_sys{{ item.id }}"
            placeholder="DEBUT_SYS"
            ngModel
          />
        </td>

        <td>
          <input
            disabled
            (input)="onInputFinUpdate(item.id)"
            [type]="selectedDsId === item.id ? 'time' : 'text'"
            [ngModel]="item.fin"
            name="fin{{ item.id }}"
            placeholder="FIN"
            #fin
            ngModel
          />
        </td>
        <td>
          <input
            readonly
            [type]="text"
            [ngModel]="item.fin_sys"
            name="fin_sys{{ item.id }}"
            placeholder="FIN_SYS"
            ngModel
          />
        </td>
      </tr>
    </table>
  </form>
</div>
