<div class="container">
  <app-dialog *ngIf="showAlert" (OnCtn)="onContinue()" (Cancel)="onHideAlert()">
    {{ errorMsg }}
  </app-dialog>

  <div class="header-title">
    <label for="file" class="left"
      ><ion-icon name="download">
        <input
          type="file"
          id="file"
          (change)="getFile($event)"
          style="visibility: hidden;"
        />
      </ion-icon>
    </label>

    <span class="middle">LISTE VISITEUR</span>

    <span class="left" (click)="OnCancel()">
      <ion-icon name="arrow-round-up"></ion-icon>
    </span>
  </div>
  <form #f="ngForm">
    <table>
      <tr class="header">
        <th style="width: 40%">
          NOM & PRENOM
        </th>
        <th style="width: 40%">
          ORGANISME
        </th>
        <th style="width: 20%">
          PERMANENT
        </th>
      </tr>
      <tr
        (click)="onAddClick()"
        [attachOutsideOnClick]="true"
        (clickOutside)="onAddClickOutside()"
        class="inputs"
      >
        <td class="tdInput">
          <input type="text" name="nom" placeholder="NOM & PRENOM" ngModel />
        </td>
        <td class="tdInput">
          <input type="text" name="org" placeholder="ORGANISME" ngModel />
        </td>
        <td class="tdInput">
          <ion-checkbox [ngModel]="0" name="permanent" ngModel></ion-checkbox>
        </td>
      </tr>
      <!--*****************************************************************************************************-->
      <tr
        [ngStyle]="{
          'font-weight': item.isAsso ? 'bold' : 'normal',
          'background-color':
            vstSelectedIndex === i ? 'rgba(255, 0, 0, 0.1)' : ''
        }"
        (dblclick)="onAssoVisiteurWithProjet(item.id)"
        (press)="onDelete(item.id)"
        (click)="onUpdateClick(item.id)"
        [attachOutsideOnClick]="true"
        (clickOutside)="onUpdateClickOutside(item.id)"
        *ngFor="let item of visiteurs; let i = index"
      >
        <td>
          <input
            disabled
            type="text"
            name="nom{{ item.id }}"
            [ngModel]="item.nom"
            placeholder="NOM & PRENOM"
            ngModel
          />
        </td>
        <td>
          <input
            disabled
            type="text"
            [ngModel]="item.organisme"
            name="org{{ item.id }}"
            placeholder="ORGANISME"
            ngModel
          />
        </td>
        <td>
          <ion-checkbox
            [ngModel]="item.permanent"
            name="permanent{{ item.id }}"
            disabled
            ngModel
          ></ion-checkbox>
        </td>
      </tr>
    </table>
  </form>
</div>
