<div class="container">
  <app-dialog *ngIf="hasError" (OnCtn)="onDelete()" (Cancel)="onHideAlert()">
    {{ errorMsg }}
  </app-dialog>
  <ng-container *ngIf="role === 'USER' || isRoot; else elseTmp">
    <ng-container *ngIf="!isValid; else elseTemplate">
      <app-fiche-ouvrier-designation></app-fiche-ouvrier-designation>
    </ng-container>
    <ng-template #elseTemplate>
      <app-fiche-valide-ouvrier-designation></app-fiche-valide-ouvrier-designation>
    </ng-template>
  </ng-container>
  <ng-template #elseTmp>
    <app-fiche-valide-ouvrier-designation></app-fiche-valide-ouvrier-designation>
  </ng-template>

  <div *ngIf="(role === 'ADMIN' || isRoot) && lister" class="separate">
    <app-ouvrier></app-ouvrier>
  </div>
</div>
