<div class="container">
  <app-dialog *ngIf="showAlert" (OnCtn)="onContinue()" (Cancel)="onCancel()">
    {{ errorMsg }}
  </app-dialog>
  <table>
    <tr class="header">
      <th style="width: 35%">
        USERNAME
      </th>
      <th style="width: 35%">
        PASSWORD
      </th>
    </tr>
    <tr
      (click)="onAddClick()"
      (clickOutside)="onAddClickOutside(user, pwd)"
      class="inputs"
    >
      <td class="tdInput">
        <input type="text" name="username" placeholder="USERNAME" #user />
      </td>
      <td class="tdInput">
        <input
          style="width: 90%;"
          [type]="showPasswordAdd ? 'text' : 'password'"
          name="password"
          placeholder="PASSWORD"
          #pwd
        />
        <ion-icon
          style="font-size: 12px"
          (click)="showPasswordAdd = !showPasswordAdd"
          [name]="showPasswordAdd ? 'eye' : 'eye-off'"
        ></ion-icon>
      </td>
    </tr>
    <!--*****************************************************************************************************-->
    <tr
      (click)="onClickUpdateUser(item, userUpdate, pwdUpdate, i)"
      (clickOutside)="OnUpdateUser(item, userUpdate, pwdUpdate, i)"
      (press)="onDelete(item.username, item.id)"
      *ngFor="let item of users; let i = index"
    >
      <td>
        <input
          disabled
          type="text"
          name="username{{ i }}"
          [ngModel]="item.username"
          #userUpdate
        />
      </td>
      <td>
        <input
          style="width: 90%;"
          disabled
          [type]="showPasswordUpdate[i] ? 'text' : 'password'"
          name="password{{ i }}"
          [ngModel]="item.password"
          #pwdUpdate
        />
        <ion-icon
          (click)="showPasswordUpdate[i] = !showPasswordUpdate[i]"
          [name]="showPasswordUpdate[i] ? 'eye' : 'eye-off'"
        ></ion-icon>
      </td>
    </tr>
  </table>
</div>
