<div class="container">
  <span (click)="onRefresh()" class="side_left" style="padding: 6px"
    >. . .
  </span>
  <span class="content" style="align-content: left">
    <label>
      <ion-icon
        ios="ios-calendar"
        md="md-calendar"
        style="color: blue;margin-bottom: -5px ;margin-left: 15px"
      >
      </ion-icon
    ></label>
    <input
      [max]="maxDate"
      [min]="minDate"
      type="date"
      class="date"
      (input)="onFilterByDate(date.value)"
      [ngModel]="ficheSelectionner?.date"
      #date
    />
  </span>

  <span class="content" (click)="onShowList(types)">
    <label
      [ngStyle]="{ color: makeItGray ? 'grey' : 'black' }"
      (clickOutside)="onShowTypesClickOutside(types)"
      class="label-show "
      >{{ typeShow }}</label
    >
    <div hidden #types class="div-list bg" style="width: 24.7%">
      <div
        (click)="OnSelectProjetType('TOUS', types)"
        class="border-case-black"
      >
        TOUS
      </div>
      <div
        (click)="OnSelectProjetType(item, types)"
        class="border-case-black"
        *ngFor="let item of fichierTypes"
      >
        {{ item }}
      </div>
    </div>
  </span>

  <span (press)="onListeProjet()" class="content" style="padding: 10px">
    <select #t (change)="OnSelectProjet(t.value)" class="Select_options">
      <option [selected]="projetSelectionner === 'null'" value=""
        >Selectionner les projet...</option
      >
      <option
        [selected]="projetSelectionner?.id === projet.id"
        class="content"
        style="padding: 20px"
        *ngFor="let projet of projets"
        [value]="projet.id"
      >
        {{ projet.abreveation }}
      </option>
    </select></span
  >

  <span (click)="onLogOut()" class="side_right">
    <ion-icon name="log-in" style="color: red"></ion-icon>
  </span>
</div>
