<div class="container">
  <app-tab
    headerTitle="LISTE DES MAIN D' OEUVRE"
    [showHeader]="true"
    [column]="culumn"
  >
    <tr>
      <td>
        <div>
          <div class="cont_div">
            <span style="width: 97%;text-align: left">
              AAAAAAAAAAAA
            </span>
            <span>
              (3/3)
            </span>
          </div>
          <div>
            <div class="cont_div">
              <span class="case-left">
                AAAAAAAAAAAA
              </span>
              <span class="case-right">
                H
              </span>
            </div>
            <div>FFFFFFFFFFFFFFFFFf</div>
          </div>
        </div>
      </td>
    </tr>
  </app-tab>
</div>
